[2015-12-11 02:25] Amit-PivotalLabs commented on #864
Can you share some more output:

[code]

[2015-12-11 02:32] NareshKosgi commented on #864
hi the issue was I edited the cf-deployment template.  I must have done it while trying to debug.  once I rechecked out that file it worked.  I think this can be closed now.  Thank you for the help

[2015-12-11 02:41] Amit-PivotalLabs commented on #864
Cool, that's what I guessed (hence the "git status").  Glad you got it working now.

Amit

[2015-12-11 02:41] #864 closed

[2015-12-15 12:48] fraenkel opened #867 "Bump gnatsd"
We have run across an issue when multiple gnatsd servers are restarted around the same time.
A recent fix to gnatsd is potentially the issue we are seeing.  What we do know is that the clients are sending NATS messages but receiving very few to none.

https://github.com/nats-io/gnatsd/commit/b62835363a08d6b14dfee655389261575baca8ee

[2015-12-16 22:35] ericpromislow opened #868 "typo in jobs/cloud_controller_ng/spec"
https://github.com/cloudfoundry/cf-release/blob/5de34b6a1327e26dfc427989c4ae2c0c9302b719/jobs/cloud_controller_ng/spec#L472

descritpion: "The lowest severity nginx log level to capture in the error log."

[2015-12-17 11:34] JamesClonk opened #869 "bump consul-release, avoid DNS stalling on cloud_controller"
Any plans on bumping the consul-release to v15 or newer?

In v15 the DNS recursor flag was added and gets used automatically, which would help with the 5s/10s DNS resolution stalling issue on the cloud_controller: https://lists.cloudfoundry.org/archives/list/cf-dev@lists.cloudfoundry.org/thread/LLUP4V5DGOU2KMLZWDTUWPTHWOOL4UHH/#Z2HORGFQJBVP5MWGU63LLRM45RKLHB5R

[2015-12-17 17:47] jeffpak93 commented on #827
@Amit-PivotalLabs @allomov

We just finished the spike on WebDAV and have decided on replacing NFS with WebDAV in a [new story](https://www.pivotaltracker.com/story/show/109604284). We'll give out another update when we've finished up work on this story.

[2015-12-17 21:33] shalako commented on #863
Closing as we've receive no response

[2015-12-17 21:33] #863 closed

[2015-12-18 00:47] robdimsdale commented on #869
@JamesClonk yes we are now continually updating the version of `consul-release` inside of `cf-release` - the next final release will likely have v21 or higher.

Does that answer your question?

Rob & @zaksoup

[2015-12-18 07:48] JamesClonk commented on #869
yes, thanks! :smile:

[2015-12-18 07:48] #869 closed

[2015-12-22 01:39] yyl8815 opened #871 "Trusted certificate for HA_Proxy"
Hi Team,

I have requested a trusted certificate for my CF. However, after I put the certificate into ha_proxy.ssl_pem., HTTPS still complains for untrusted certificate.

What I put into the ssl_pem is like below:

[code]

Can you experts if I am configuring anthing wrongly? How to fix this?

One thing is that, the IT guys not only issue me a Trusted Certificate, they also give me a certificate ch

[2015-12-22 17:43] #868 closed

[2015-12-22 17:51] Amit-PivotalLabs commented on #871
Hi @yyl8815

When you say "HTTPS still complains", what exactly is complaining?  You mean if you browse to an app in your browser you see it warns about the cert, or do `cf api api.SYSTEM_DOMAIN` you see that it still requires `--skip-ssl-validation`?

[2015-12-22 23:06] Amit-PivotalLabs commented on #867
Hey @fraenkel

Sorry for the delayed response, vacation...

Have you tried bumping, does it fix your problem (without causing other problems)?  Sounds like you're saying it's potentially a fix, but not sure.  If you do find a SHA that works, would you be inclined to submit a PR for the bump?

[2015-12-30 01:55] linlynn opened #873 "the stack could not be found: The requested app stack cflinuxfs2 is not available on this system."
When I push app ,the following error is throwing

FAILED
Server error, status code: 404, error code: 250003, message: The stack could not be found: The requested app stack cflinuxfs2 is not available on this system.

cf vesion is 6.12.4

please let me know if you need more information

[2015-12-30 19:18] Amit-PivotalLabs opened #874 "Have admin credentials in separate location in BOSH-Lite stubs"
----

hey gang, would you guys be opposed to a PR that adds the following properties to the cf-release bosh-lite stub:

[code]

We're trying to clean up the stubs for the mysql service, and our errands (e.g. broker-registrar) need creds to talk to CF. It would be nice to pull these creds from a CF manifest rather than asking the operator to copy-paste them into one of our stubs. Unfortunately, we

[2015-12-30 19:19] Amit-PivotalLabs commented on #874
Hey @ljfranklin

(I moved the question over here to GitHub, so it doesn't get buried in Slack.)

We definitely need a better way of allowing components to share certain credentials.  Few questions...

1. Do you only need this for BOSH-Lite or would you need this for the stubs for every IaaS?
1. Exactly what permissions are required for the stuff you want to do, would it work to just have a separat

[2015-12-30 19:39] Amit-PivotalLabs commented on #873
Hi @linlynn

Can you give some more info about your deployment.  Did you deploy Cloud Foundry yourself or are you using a hosted version, or some installation provided by another party?  If you did it yourself, can you tell me the release version, what infrastructure you're deploying on, and how you generated your deployment manifest?

Also, is this the first app you've pushed, or has the system b

[2015-12-30 23:03] Amit-PivotalLabs commented on #871
@yyl8815 any update?

[2015-12-31 18:03] ljfranklin commented on #874
@Amit-PivotalLabs Thanks for creating this issue for us.

Thinking more generally, we would need this for every IaaS for a consistent experience.

Looking at the [CF Services doc](https://docs.cloudfoundry.org/services/access-control.html), the commands we need to run (e.g. `enable-service-access`) must be run by an administrator. Looking quickly at the [UAA docs](https://docs.cloudfoundry.org/adm

[2016-01-03 22:51] aerondeepak commented on #823
@jhiemer Can you help to resolve this staging problem?

Thanks,

[2016-01-04 06:20] jhiemer commented on #823
@aerondeepak, did you also change the MTU in your deployment manifest?

[2016-01-04 06:22] aerondeepak commented on #823
@jhiemer  Yes, I have set the MTU to 1350.

[2016-01-04 06:24] jhiemer commented on #823
@aerondeepak and afterwards you did a `bosh deploy`? What happens if you step inside a container and try to run git clone https://buildpack.url?

[2016-01-04 17:38] aerondeepak commented on #823
@jhiemer  I have configured cf nise (https://github.com/yudai/cf_nise_installer) on OpenStack.

I went into the container and ran *git clone*, the command fails. However, I am able to ping or do nslookup github.com from the container . Once the *git clone* command gets terminated the container also gets deleted  from the warden. Below is the log:

root@194p71rsd8m:~# git clone https://github.com/c

[2016-01-04 20:35] Amit-PivotalLabs commented on #871
Assuming fixed, closing.

[2016-01-04 20:35] #871 closed

[2016-01-04 20:36] Amit-PivotalLabs commented on #867
Hey @fraenkel any thoughts?

[2016-01-04 20:37] Amit-PivotalLabs commented on #873
Hey @linlynn any update on this issue?

[2016-01-05 01:12] fraenkel commented on #867
I did try bumping. I don't know if it fixed our problem since any restart as long as it's not within a similar time frame will prevent the issue as well. I did not see any issue with the update.

[2016-01-05 19:11] Amit-PivotalLabs commented on #867
Hmmm, doesn't sound too compelling at this time.  Feel free to re-open or submit PR if you're confident it fixes your problem.

[2016-01-05 19:11] #867 closed

[2016-01-05 21:38] Amit-PivotalLabs commented on #874
@ljfranklin I spoke with @sreetummidi and she thinks it's a good idea for `users` to an array of both the current pipe-separated strings as well as a more structured thing, e.g.

[code]

The `name` key will be clutch, as it will allow you to reference it in spiff.  I'm not sure the priority of said story, but I'd rather wait for something like that to land before shoving otherwise unnecessary stuf

[2016-01-06 00:59] Amit-PivotalLabs commented on #874
By the way, here is that story: https://www.pivotaltracker.com/story/show/111089660

[2016-01-06 19:13] Amit-PivotalLabs commented on #873
Assuming this issue is resolved due to inactivity, closing.

[2016-01-06 19:13] #873 closed

[2016-01-08 04:17] Amit-PivotalLabs commented on #874
@ljfranklin I'll close this out, feel free to reach out if you think it still needs discussion.

[2016-01-08 04:17] #874 closed

[2016-01-08 17:01] ljfranklin commented on #874
Thanks for running with this @Amit-PivotalLabs! We'll follow up with @sreetummidi via Tracker.

[2016-01-10 14:45] johnmcteague opened #877 "Release notes should specify recommended uaa release version"
As of v227, uaa-release is now required. Like the Diego, garden and etcd sections in release notes, we should specify the tested uaa release version.

[2016-01-10 18:15] Amit-PivotalLabs commented on #877
It's not required as a separate release, although you could deploy it that way if you wish. Currently the `uaa-release` version is submoduled into `cf-release` and the jobs and packages are symlinked from the submodule, so the fact that it's a separate release is entirely transparent to the consumer of `cf-release`.  The release notes for the **Identity** section haven't been filled out yet, but u

[2016-01-11 21:07] #877 closed

[2016-01-15 07:31] WenXiuchun opened #882 "cant clean the zombie progress of cloudfoundry"
![2016-01-15_15-01-04](https://cloud.githubusercontent.com/assets/6194868/12347712/9a039afc-bb9b-11e5-80e6-a33040b84211.jpg)

I cant clean those zombie Tasks. when I cleaned them, another new 8 zombie tasks come out immediately.

[2016-01-15 20:17] Amit-PivotalLabs commented on #882
Can you give some more details?

Was this deployed with BOSH?  Which stemcell? Which version of cf-release?  What does `bosh vms` show?

[2016-01-18 09:23] WenXiuchun commented on #882
It was deployed by cf_nise_installer. All stemcells are on one VM.

cf-release :
 name: cf
 version: '221'

[2016-01-18 09:47] StanleyShen opened #884 "load balancer named cfrouter"
Failed creating bound missing vms > router_z1/0: Unknown CPI error 'Unknown' with message 'There is no ACTIVE Load Balancer named 'cfrouter'' (00:01:11)
   Failed creating bound missing vms > router_z2/0: Unknown CPI error 'Unknown' with message 'There is no ACTIVE Load Balancer named 'cfrouter'' (00:01:09)

I am trying to deploy CF to AWS, and here are my steps:
1. create one manifest stub based

[2016-01-19 15:05] #884 closed

[2016-01-19 15:21] aerondeepak commented on #823
@jhiemer  Could you please help to resolve this staging issue?

[2016-01-19 15:22] jhiemer commented on #823
@aerondeepak without direct access to the infrastructure it is hard to help here. :-(

[2016-01-20 00:46] Amit-PivotalLabs commented on #882
Hi @WenXiuchun

Unfortunately I don't know how `cf_nise_installer` manages process lifecycles.  I'd recommend opening an issue against [that repo](https://github.com/yudai/cf_nise_installer).

[2016-01-20 00:47] Amit-PivotalLabs commented on #884
Hey @StanleyShen

I see you closed this issue, were you able to find the info you needed?

Cheers,
Amit

[2016-01-20 15:20] rradecki opened #886 "CF222 fresh install: cf apps returns "status code: 500, error code: 10001, message: An unknown error occurred""
Hi.

I deployed CF222 on AWS. After the deployment 'cf login' and 'cf apps' succeeded.
After some time (~2h) when I tried to list apps for my org:

[code]

I checked situation on router_z1/0, router_z2/0 machines and they only show 500 errors in /var/vcap/data/sys/log/gorouter/access.log, 'monit summary' shows that everything is ok.

I checked then the status of api_z1/0 and api_z2/0 machines and

[2016-01-20 17:38] fhanik commented on #874
https://github.com/cloudfoundry/uaa-release/commit/bd8c61406c60e79364f170a1fe22154f8f0551d0

[2016-01-21 02:15] lotus2015 opened #887 "StagingError:ERR Error uploading: (Polling failed - status 0 )"
When I push a java application, the log shows that it always encounter error as below:
2016-01-21T09:11:58.29+0800 [STG/0]      ERR
2016-01-21T09:12:07.15+0800 [STG/0]      OUT -----> Uploading droplet (52M)
2016-01-21T09:12:07.97+0800 [API/0]      ERR encountered error: Staging error: failed to
 stage application:
2016-01-21T09:12:07.97+0800 [API/0]      ERR Error uploading: (Polling failed - sta

[2016-01-21 02:33] WenXiuchun commented on #882
@Amit-PivotalLabs thanks anyway

[2016-01-21 02:33] #882 closed

[2016-01-21 05:48] StanleyShen opened #888 "Cannot deploy cf to AWS"
Hello, I am trying to deploy cf to aws
And what I am following is page:
And create my stub manifest based on http://docs.cloudfoundry.org/deploying/aws/cf-stub.html
I also tried to use the postgres job provided by cf release but not RDS database.
I also tried to use only one zone to minimum the VMs.

./scripts/generate_deployment_manifest aws my_stub.yml
After the manifest is generated, I also did

[2016-01-21 05:49] StanleyShen commented on #884
I create another issue for more help, thanks.

[2016-01-21 11:40] ramonskie opened #889 "stemcell and version variable for spiff"
shouldn't the stemcell name and version be a variable for spiff?
in the templates?

example:
https://github.com/cloudfoundry/cf-release/blob/master/templates/cf-infrastructure-openstack.yml#L9

[2016-01-21 14:21] ramonskie opened #890 "openstack template not correct"
the openstack template is not correct

when you try to create a simple stub file with no cf2 networks it will fail
even if the instaces are set to 0
this is because the template places [ ]
see https://github.com/cloudfoundry/cf-release/blob/master/templates/cf-infrastructure-openstack.yml#L189

this is not the case for aws template

[2016-01-21 22:23] Amit-PivotalLabs commented on #890
@ramonskie

Can you give an example of a stub that doesn't work, what exact command you're running, and what SHA of this repo you have checked out.  The manifest generation specs for openstack do indeed use a stub that has no cf2 and they don't fail.

https://github.com/cloudfoundry/cf-release/blob/master/spec/manifest_generation_spec.rb#L28-L30
https://github.com/cloudfoundry/cf-release/blob/mast

[2016-01-21 22:26] Amit-PivotalLabs commented on #889
@ramonskie yup, they are configurable:

https://github.com/cloudfoundry/cf-release/blob/master/templates/cf-infrastructure-openstack.yml#L6-L10

In your stub, specify:

[code]

[2016-01-21 23:09] Amit-PivotalLabs commented on #887
@lotus2015

Sorry you're running into issues.  Do you see other apps stage successfully?  Do you see any logs from the Cloud Controller at 10.2.19.170 around that timestamp suggesting why the upload failed?

[2016-01-22 02:23] lotus2015 commented on #887
@Amit-PivotalLabs

I don't see any apps stage successfully.  And the cloud controller returns this：

{"timestamp":1453426635.00175,"message":"PG::UndefinedTable: ERROR:  relation \"schema_migrations\" does not exist\nLINE 1: SELECT NULL AS \"nil\" FROM \"schema_migrations\" LIMIT 1\n                                  ^: SELECT NULL AS \"nil\" FROM \"schema_migrations\" LIMIT 1","log_level":"error",

[2016-01-22 09:54] ramonskie commented on #889
thanks

[2016-01-22 09:54] #889 closed

[2016-01-22 14:58] ramonskie commented on #890
the issue is that cf2 network needs to defined in the stub file
otherwise bosh will refused the generated deployment manifest because its expects that the jobs that have cf2 network assigned even if it have zero instances

[2016-01-22 16:25] Amit-PivotalLabs commented on #890
Ah right, will fix.

[2016-01-22 19:39] zaksoup commented on #886
Hi Rafal,

This appears to be related to the issue you filed via the mailing list about create-org. I'm going to close out the mailing list issue and attempt to help you here on github.

From the stack trace in the log you provided it looks like there is an SSL error between the CC and the UAA. Can you please post your manifest? It is important that we see what SSL certs are where so if you do not

[2016-01-23 06:06] mgcera opened #893 "./scripts/generate-bosh-lite-dev-manifest NOT GENERATING cf-release/bosh-lite/deployments/cf.yml' file"
Problem while Installing CF on BOSHLite

$ bosh deploy
Cannot find deployment manifest in `/Users/mgcera/workspace/cloudfoundry/cf-release/bosh-lite/deployments/cf.yml'

Because this file is not there, which I was expecting after the following
$ ./scripts/generate-bosh-lite-dev-manifest

 Deployment set to `/Users/mgcera/workspace/cloudfoundry/cf-release/bosh-lite/deployments/cf.yml’

I logged in

[2016-01-23 06:28] mgcera commented on #893
I gave permission on cf-release/bosh-lite folder and run the $ ./scripts/generate-bosh-lite-dev-manifest
Got same message but this time it generated the bosh-lite/deployments/cf.yml file

Still FAIL to run
$ bosh deploy
Acting as user 'admin' on deployment 'cf-warden' on 'Bosh Lite Director'
Getting deployment properties from director...
Unable to get properties list from director, trying without

[2016-01-23 08:12] mgcera commented on #893
Other Info

$ bosh releases
Acting as user 'admin' on 'Bosh Lite Director'

+-------+----------+-------------+
| Name  | Versions | Commit Hash |
+-------+----------+-------------+
| mgdev | 0+dev.1  | 3c73e6d2    |
+-------+----------+-------------+
Releases total: 1

Also, I see  cf-release/dev-releases/mgdev/mgdev-0+dev.1.yml and index.ml files.
bosh deploy should use these file ? If yes, how a

[2016-01-23 08:39] mgcera commented on #893
Some more info ....
$ bosh properties
Acting as user 'admin' on deployment 'cf-warden' on 'Bosh Lite Director'
Target Bosh Lite Director
Deployment cf-warden

Error 70000: Deployment `cf-warden' doesn't exist

Here is my .bosh_config
------------------ start ----------------------
---
target: https://192.168.50.4:25555
target_name: Bosh Lite Director
target_version: 1.3173.0 (00000000)
target_uuid

[2016-01-23 10:28] mgcera commented on #893
Another observation -
Current deployment is `/Users/mgcera/workspace/cloudfoundry/cf-release/bosh-lite/deployments/cf.yml'
Release manifest: /Users/mgcera/workspace/cloudfoundry/cf-release/dev_releases/mgdev/mgdev-0+dev.1.yml

So what I did is this

$ bosh deployment /Users/mgcera/workspace/cloudfoundry/cf-release/dev_releases/mgdev/mgdev-0+dev.1.yml
Deployment set to `/Users/mritunjaygiri/workspa

[2016-01-23 11:25] ematpl commented on #893
Hi, @mgcera,

Yes, by naming your release something other than the default of `cf`, you won't be compatible with the release names in the manifests generated for BOSH-Lite. I'd suggest you delete the `config/dev.yml` file that's been generated in the cf-release directory, run `bosh create release` again, and go with the default `cf` name for the release. Once you upload that, the deploy should wor

[2016-01-23 11:35] mgcera commented on #893
Please enter development release name: |cf|

Shall enter 'cf' of press return key?
Thanks

[2016-01-23 11:41] mgcera commented on #893
After upload, run deploy but Fail

$ bosh deploy
Acting as user 'admin' on deployment 'cf-warden' on 'Bosh Lite Director'
Getting deployment properties from director...
Unable to get properties list from director, trying without it...
Deployment manifest doesn't have release information: 'please add 'release' or 'releases' section

[2016-01-23 11:47] mgcera commented on #893
But .. bosh status shows that it is referring to old file. Shall I modify my .bosh_profile?

$ bosh status
Config
             /Users/mgcera/.bosh_config

Director
  Name       Bosh Lite Director
  URL        https://192.168.50.4:25555
  Version    1.3173.0 (00000000)
  User       admin
  UUID       3e42d17f-072b-4577-8446-d1e15bb59f49
  CPI        warden_cpi
  dns        disabled
  compiled_packa

[2016-01-23 12:14] mgcera commented on #893
Hi, @mgcera,

Thanks a lot for response.

Do I need to start fresh deployment from scratch ?

Preparing "Install BOSH Lite ... on https://github.com/cloudfoundry/bosh-lite/blob/master/README.md#install-bosh-lite

Thanks
Mritunjay

[2016-01-23 15:56] ematpl commented on #893
Hi, @mgcera,

Right, I had forgotten that you had set your BOSH deployment to a different file. If you re-run `./scripts/generate-bosh-lite-dev-manifest` from the cf-release directory, it will regenerate the CF deployment manifest in `./bosh-lite/deployments/cf.yml` and then reset your BOSH deployment to that file. Then you should be able to run `bosh deploy` to deploy it.

Best,
Eric

[2016-01-23 18:04] mgcera commented on #893
Thanks a lot.  bosh deploy started . But fail to complete

Started updating job hm9000_z1 > hm9000_z1/e44081c9-e58c-4e60-ac62-432fd68517b7 (0)[WARNING] cannot access director, trying 4 more times...
[WARNING] cannot access director, trying 3 more times...
System call error while talking to director: Host is down - connect(2) for "192.168.50.4" port 25555 (https://192.168.50.4:25555)

I can see VM

[2016-01-24 00:29] ematpl commented on #893
Hi, @mgcera,

It's possible that the BOSH director running on the BOSH-Lite VM has crashed and isn't coming back up, or that something else has gone wrong with the connectivity to the box. From the bosh-lite directory where you originally ran `vagrant up`, can you run `vagrant ssh` to get an SSH session on the BOSH-Lite VM? If so, can you then run `sudo -i` and `monit summary` and report which mon

[2016-01-24 04:02] mgcera commented on #893
Hi Eric

Thanks for response. Below is log

$ vagrant ssh

Welcome to Ubuntu 14.04.3 LTS (GNU/Linux 3.19.0-43-generic x86_64)

 * Documentation:  https://help.ubuntu.com/

vagrant@agent-id-bosh-0:~$

vagrant@agent-id-bosh-0:~$

vagrant@agent-id-bosh-0:~$ sudo -i

root@agent-id-bosh-0:~# ls -al

total 24

drwx------  2 root root 4096 Jan 13 01:45 .

drwxr-xr-x 24 root root 4096 Jan 22 18:30 ..

-rw

[2016-01-24 04:23] mgcera commented on #893
Hi Eric ,
Director is back .  **How to resume the deploy ?**

[boshDeploy_log.txt](https://github.com/cloudfoundry/cf-release/files/102157/boshDeploy_log.txt)

Thanks a lot

[2016-01-24 07:31] mgcera commented on #893
Finally !!   with help of `$bosh cck` this is awesome command
[code]

Thanks a lot

[2016-01-24 08:19] mgcera commented on #893
Verification !!
**Failed** why ?
[code]
This look Ok
[code]
Thanks

[2016-01-24 16:43] StanleyShen opened #894 "documentation for default_networks"
In cf generated bosh-lite manifest file, I notice some sections like "default_networks", what does it mean?
I didn't find any document on bosh http://bosh.io/docs/deployment-manifest.html

[code]

[2016-01-24 23:35] ematpl commented on #893
Hi, @mgcera,

Did you already run the `bin/add-route` script in the `bosh-lite` directory? That will route traffic destined to 10.244.0.34 through the BOSH-Lite vagrant VM.

Best,
Eric

[2016-01-25 05:54] StanleyShen commented on #888
With the stemcell and release, I can deploy them with the minimal-aws.yml
So it may because of some properties, I tried to compare it to bosh-lite manifest, but I didn't figure out yet.

[2016-01-25 11:14] Amit-PivotalLabs commented on #894
Hi @StanleyShen

What you have there is (part of) an array of jobs, and you're looking at the first element in that array.  That element has `name: ha_proxy_z1`, so it's the job definition for the HA Proxy in zone 1.  spiff arranges keys alphabetically, so you see `default_networks` at the top, but the identifying property is the name.

You still may ask, within the job definition for `ha_proxy_z1

[2016-01-25 15:16] StanleyShen commented on #894
yes, for this part, I understand it.
But as you see, the "default_networks" I pasted here is at the same level of jobs. (I saw it in one old cf.yml locally, but it seems not there in latest generated cf.yml)
Is it the same meaning?

- instances: 0
  name: consul_z2
  networks:
  - name: cf2
    static_ips: []
  persistent_disk: 1024
  properties:
    consul:
      agent:
        mode: server
    m

[2016-01-25 15:24] StanleyShen commented on #894
OK, I see, I misunderstand it.
But sometimes it really confused me.

[2016-01-25 15:24] #894 closed

[2016-01-26 02:55] Amit-PivotalLabs commented on #887
@fraenkel @dieucao any ideas about this error?  Looks like DEA uploading to CC is consistently failing in "Polling".

[2016-01-26 04:24] fraenkel commented on #887
@Amit-PivotalLabs This happens when the upload either times out or a connection issue. I will open a bug to add more relevant information when there is a connection error.

[2016-01-27 03:02] mgcera commented on #893
Hi @ematpl

Yes, I did. But I was getting same error.
I saw many people has log the same issue here. And they resolved it differently. So I tried all of the solution but didn't worked for me.

*Solutions
 1. https://github.com/cloudfoundry/bosh-lite/issues/102
 2. https://groups.google.com/a/cloudfoundry.org/forum/#!topic/vcap-dev/J5j6qsbMbqI
 3. http://stackoverflow.com/questions/28768696/failed-

[2016-01-27 03:28] mavenraven commented on #888
@StanleyShen There's a number of places in your manifest where you have "bosh-lite.com". This needs to be a domain that you control and can point at your ELB or HAProxy. Cloud Foundry uses that value for routing, and the system won't work without it being right.

[2016-01-27 08:04] ematpl commented on #893
Hi, @mgcera,

Based on the error, it sounds the CF CLI isn't resolving the `api.10.244.0.34.xip.io` domain correctly. What output do you get from `nslookup api.10.244.0.34.xip.io` or `dig api.10.244.0.34.xip.io`? What happens when you run `curl -vvv http://api.10.244.0.34.xip.io/v2/info`?

Thanks,
Eric

[2016-01-27 16:14] bhudlemeyer opened #896 "generate-bosh-lite-dev-manifest failing"
Right before I submitted this I found my issue. I still wanted to submit though as I didn't find this here and just happened to stumble across it in an unrelated thread.

 had to install ruby bundle
gem install bundle

Also sorry this is probably a very newb mistake but just starting and did not see this listed anywhere.

[code]

[2016-01-27 22:28] robdimsdale commented on #896
@bhudlemeyer that sounds like you fixed it, but I also created [a tracker story](https://www.pivotaltracker.com/story/show/112554035) to fail fast with a better error message - thanks for bringing this to our attention.

I'll close this issue now.

[2016-01-27 22:28] #896 closed

[2016-01-28 03:01] StanleyShen commented on #888
yes, when I depoly it, I do changed all "bosh-lite.com" to valid domain created by me.
I just change them all to "bosh-lite.com" for security.

This needs to be a domain that you control and can point at your ELB or HAProxy
=> I didn't use HAProxy in this manifest, and I do create a load balancer named "cfrouter".
But when I was creating the balancer, I didn't how to set this domain pointing to th

[2016-01-28 21:55] dsabeti commented on #888
Hey there @StanleyShen. The logs suggest that the CC is having problems uploading and downloading buildpacks from the blobstore (s3). Take a look at `cloud_controller_ng/cloud_controller_ng.log` and look for a line that begins `{"timestamp":1453354094.4162247,"message":"Request failed: 500: {\"code\"=>10001, \"description\"=>\"connect timeout reached\", \"error_code\"=>\"CF-Timeout\"`. You'll see

[2016-01-28 23:15] Amit-PivotalLabs commented on #890
Should be fixed now. Closing.

[2016-01-28 23:15] #890 closed

[2016-01-30 03:12] robdimsdale commented on #886
@rradecki

This issue has been open without reply now for one week, so I'm going to close it.

If you have more to add please feel free to open a new issue.

Thanks,
Rob

[2016-01-30 03:12] #886 closed

[2016-02-01 06:51] lotus2015 commented on #887
Hi,@fraenkel
Thanks a lot for response.
How can I open a bug for more information?

[2016-02-01 13:12] fraenkel commented on #887
I have already created a bug in our tracker for this.
https://www.pivotaltracker.com/story/show/112398859

[2016-02-02 00:36] amulyas commented on #873
any update on this issue .. we are also facing same ..

[2016-02-02 00:36] amulyas commented on #873
Server error, status code: 404, error code: 250003, message: The stack could not be found: The requested app stack cflinuxfs2 is not available on this system.
02-01-16 15:35:43 Could not stage the application as expected, Please find below the logs
Connected, dumping recent logs for app xxxxxx-11-22 in org qwe-qwe / space qwe-zxc as ********...

[2016-02-04 17:52] robdimsdale commented on #888
@StanleyShen we will close this issue now as it has been one week without response.

Please feel free to open another issue if you have further questions.

[2016-02-04 17:52] #888 closed

[2016-02-04 19:41] ScarletTanager commented on #887
Hello,

We tried to reproduce the error to see what kind of information gets logged. When we erase the route to the cc on the runner vm and then try to push an app, this is what we see in the dea's logs:

    {"timestamp":1454614275.3288903,"message":"em-upload.error","log_level":"warn",
    "source":"Staging", "data":{"app_guid":"354014eb-d782-40a2-b994-ae86db11c58b",
    "task_id":"78598debedfa4

[2016-02-04 20:06] yatzek commented on #887
Hi,

We had a similar problem, we think it was caused by slow s3 uploads, we fixed it by increasing EM::HttpRequest timeout (default connect and inactivity values are 5s and 10s):

https://github.com/nimbus-cloud/dea_ng/commit/729e3e53180a066b4ad7f6deb9eb02838cb2dc6a

We also made a this fix which may be related to this problem:

https://github.com/nimbus-cloud/cloud_controller_ng/commit/5bfa145c3

[2016-02-05 10:46] SolutionBTO opened #899 "Not found service "...v2/org/:orgID/quota_usage" in v212"
Hi

Not exists service "v2/organizations/:orgID/quota_usage" in
http://apidocs.cloudfoundry.org/212/

Only in before version
http://apidocs.cloudfoundry.org/211/organizations/retrieving_quota_usage_for_the_organization.html

Will add or remove definitely?

Roberto Silva
Best Regard's

[2016-02-05 22:49] Amit-PivotalLabs commented on #899
Hi @SolutionBTO

I've migrated this issue to the [cloud_controller_ng repo](https://github.com/cloudfoundry/cloud_controller_ng/issues/532), they will be able to help you with your questions about the API.

Cheers,
Amit

[2016-02-05 22:49] #899 closed

[2016-02-06 14:46] anyflow opened #900 "Cannot 'cf login' right after deploying CF of 'minimal-aws.yml'"
I'm a newbie of Cloud Foundry.

I've finally failed to login with 'admin' or any other username right after deploying CF with minimal-aws.yml in example_manifests folder.

Despite the README.md doesn't guide how to replace PASSWORDs, I've changed all with '_ngc1oudc0w_', and used the password in '_cf login_' process.

I've tried with other passwords like '_c1oudc0w_', '_admin_', but the results we

[2016-02-08 07:18] ematpl commented on #893
Closing due to inactivity.

[2016-02-08 07:18] #893 closed

[2016-02-08 08:34] EngineerBetter opened #901 ""no such host" Targeting Bosh-Lite CF"
Apologies if this belongs on the bosh-lite issues list; I've read a few issues between over on that project and I saw one where Dmitriy suggested it should be raised as a CF issue.

I got Bosh Lite up and running, and deployed CF to it just fine. I had to do a `vagrant halt` on the Bosh Lite VM, and as usual when I brought it back up there were multiple rounds of `bosh cck` that needed to be done

[2016-02-08 08:40] Amit-PivotalLabs commented on #901
Hi @EngineerBetter

This doesn't appear to be a cf-release problem.  `api.bosh-lite.com` should resolve to `10.244.0.34`.  Can you try `nslookup api.bosh-lite.com 8.8.8.8`?  If that works, the next question is why your local network nameserver at `192.168.1.1` isn't recursing to a public nameserver that can resolve it.

[2016-02-08 08:49] EngineerBetter commented on #901
Hi @Amit-PivotalLabs,

Wow, thanks for the prompt response, and apologies for reporting to the wrong repo. I ran `add-routes` again for good measure, and it started working.

Thankfully for my sanity I can see in my bash history that I already did that once this morning, and it didn't work:

[code]

It's working now though. I should probably not have fed my mogwai after midnight.

Thanks for your

[2016-02-08 08:49] #901 closed

[2016-02-08 09:01] Amit-PivotalLabs commented on #901
:+1:

[2016-02-08 18:21] robdimsdale commented on #900
@anyflow can you show us the output of `bosh vms --vitals`?

If any jobs report as `failing`, can you also post (sanitized) logs? You can obtain them with the command `bosh logs`.

These will help us understand if your inability to login is related to any failing components.

Thanks,
Rob
CF Release Integration

[2016-02-09 00:53] anyflow commented on #900
No jobs failed. output of `bosh vas --vitals` is below.

[code]

[2016-02-09 20:25] robdimsdale commented on #900
@anyflow, to clarify, you did a bosh deploy without changing passwords, and tried to login with `admin/admin` and that failed? You then changed the passwords, redeployed and tried to login with `admin/newpassword` and that failed too?

Could you take a look in the UAA logs for anything that looks like an exception, and post the (sanitized) output here? You can obtain logs via either `bosh logs` or

[2016-02-10 08:01] omazhary opened #902 "CF-229 on Bosh-Lite: UAA and Routing API"
I've deployed the cloudfoundry 229 release locally on bosh-lite, and the api job is "failing". I checked its processes, and only the routing_api process is not monitored.
In its log, I get the following error over and over again in `/var/vcap/sys/log/routing-api/routing-api.log`:
`{"timestamp":"1455090652.275856018","source":"routing-api","message":"routing-api.database","log_level":1,"data":{"etc

[2016-02-10 08:33] anyflow commented on #900
1. you did a bosh deploy without changing passwords, and tried to login with admin/admin and that failed?
=> Yes, with the same result with the above(Actually, I tested it(no changing password version) right after your question.

2. tried to login with admin/newpassword and that failed too? => Yes.

3. I don't know how to get the logs.. `bosh logs` requests other arguments(I don't know... ), also

[2016-02-10 09:47] omazhary commented on #902
Sorry, problem has been resolved using the bin/provision_cf script.

[2016-02-10 09:47] #902 closed

[2016-02-10 17:07] debu66er opened #903 "Issue deploying Docker image to Diego"
I have installed CF  v230 using BOSH-Lite on a Linux laptop.
I was able to deploy pure cf apps using buildpacks with no problem.
But when trying to test Docker deploy I am getting a weird error.

I followed these two steps:

[code]
and I get this trace from CF CLI point of view:

[code]

I haven't found anything in troubleshooting guides.
Any tip about how to investigate? Where should I have any a

[2016-02-10 17:52] Amit-PivotalLabs commented on #903
Hey @debu66er

For starters, can you share the output of `bosh vms`?  Also, are you able to push non-docker apps, e.g.

[code]

[2016-02-10 19:37] debu66er commented on #903
Hi @Amit-PivotalLabs, thanks for your help.
Yes, I was able to deploy non-docker apps like Java EE, Node.js and static HTML files using existing buildpacks. They work perfectly. Issue is just with Docker apps. It doesn't matter the Docker image I try I get same trace, same error.

About `bosh vms` I will try to get the result asap and share here with you.

[2016-02-11 09:35] debu66er commented on #903
@Amit-PivotalLabs we have launched bosh vms command, and the problem seems to be that warden-cf-diego vm was missing. After installing that additional vm the docker lattice-app sample application deployed with no problem. Thanks.

[2016-02-11 09:35] #903 closed

[2016-02-11 18:20] robdimsdale commented on #900
@anyflow

Thanks for the clarification and the manifest. We took a quick look at the manifest and nothing seems obviously incorrect.

To get the logs from a bosh vm you issue the command like:

[code]

The extra arguments are options to help filter the logs, and specify where on the local machine the logs are downloaded to.

The logs for the UAA job will be on the same VM that the job is on, rathe

[2016-02-12 00:25] anyflow commented on #900
Thanks @robdimsdale . I linked the log obtained via you` bosh logs uaa_z1 0` : https://drive.google.com/open?id=0BylFPsoEK1vRanc3UjFHLUVIT00

p.s. Everytime after asking you, I delete the cf deployment. Every time after you answer me, I recreate the cf deployment.. because of the money.. ==;;

[2016-02-12 19:52] robdimsdale commented on #900
@anyflow thanks for the logs - they've been useful in helping us figure out what is going on.

The UAA logs indicate that there is a missing client `cf`:

[code]

This is a bug in our example manifest, and we will fix this - see https://www.pivotaltracker.com/story/show/113654377

Essentially, you need to add the following to the `properties.uaa.clients` section of the manifest:

[code]

Please le

[2016-02-13 00:15] anyflow commented on #900
@robdimsdale Finally I succeeded to login cf by following your guide. Thanks so much for your quick responses and solution.

p.s. You omitted `client:` in your example, so I mis-added it into `properties.uaa` not `properties.uaa.clients` at first.

[2016-02-13 00:23] robdimsdale commented on #900
great, thanks for letting us know. We will make sure we add it correctly when we fix the example manifest.

We'll close this issue now. Please feel free to open another issue if you encounter further issues.

Rob && @nimakaviani

[2016-02-13 00:23] #900 closed

[2016-02-15 16:12] StanleyShen opened #904 "any reason why we use c3.large for all VMs by default in example_manifests"
https://github.com/cloudfoundry/cf-release/blob/master/example_manifests/minimal-aws.yml
Right now the minimal-aws deployment is using c3.large for all VM.
But c3 is optimized for computing.
Just curious why we choose c3.large?
For this minimal env, I think m3.medium is enough for most VMs, right?

Thanks for explanation.

[2016-02-15 23:54] drnic commented on #904
Keep one attribute of m3.mediums in mind - they have a tiny ephemeral disk.

On Tue, Feb 16, 2016 at 2:12 AM, Stanley Shen <notifications@github.com>
wrote:

[2016-02-16 06:26] lotus2015 commented on #887
Hi, @ScarletTanager
Thanks a lot for response.
My dea log returns this：
{"timestamp":1455596562.290276,"message":"em-upload.error","log_level":"warn","source":"Staging","data":{"app_guid":"10097841-e01c-424f-8bbd-c4132b8c174e","task_id":"a1674890178c4ccda7a5ca4e063976c8","destination":"http://staging_upload_user:staging_upload_password@10.2.19.170:9022/staging/droplets/10097841-e01c-424f-8bbd-c413

[2016-02-16 07:23] StanleyShen commented on #904
when deploying on AWS, we can add ephemeral_disk to Resource Pools definition.
So if we customize Resource Pools definition for add more ephemeral_disk then m3.medium is fine for use, right?

except the ephemeral disk, is there any other concerns?
Is there any recommended configuration for each CF components?

[2016-02-16 17:47] cppforlife opened #905 "Failed to deploy CF on AWS.. HELP me out..."
(original issue against cloudfoundry/bosh#1132 from @SimyungYang)

Hello, Guys..

Now, I’m trying to deploy CF on AWS IaaS,
In order to do that, I followed the following instructions..
http://docs-cloudfoundry-acceptance.cfapps.io/deploying/aws/index.html

I used the "bosh aws create" command to set up all the environment of AWS....

I successfully deployed the bosh, and could connect to it.

and

[2016-02-16 20:41] ctooley opened #906 "Can't check out candiedyaml during ./scripts/update"
While running:
[user@host cf-release]$ ./scripts/update

It runs through Synchronizing submodules until it gets to consul-release and then:
[code]

[2016-02-16 21:42] ctooley commented on #906
It appears that the upstream package that is at fault has a merged commit from today to resolve this issue. I've tested it by changing directories into the cf-release/src/consul-release directory and manually applying the patch.

I'm still getting an error on bosh upload release because it's failing blobstore sha1 checksums. But, I don't know if that's related:

+ bosh -n -u admin -p ADMIN_PASSWOR

[2016-02-16 22:02] Amit-PivotalLabs commented on #904
The `c3.large` also has 2 cores, whereas `m3.medium` has 1.  There are no hard and fast rules for what instance type you should have for all jobs.  The example manifest, and manifest generation templates, have some default values that we know to work in our CI environments.  The "right" answers depend on your usage and your budget.

[2016-02-17 05:19] faizi1407 opened #907 "Access Applications hosted in Cloud Foundry VM from Host Network"
Hi All,

I am not so good at networking, I have a Host machine with a Cloud Foundry (Bosh-Lite) VM. I have successfully deployed an App in cloud foundry. After running route.bat in my host machine i am able to access the application from Host. But how do i make the application accessible from a particular network or lets say just the host machines' network.

Thanks,
Faizan :-)

[2016-02-17 20:54] weberstephanhd opened #908 "smoke_tests can't access api.bosh-lite.com"
I run bosh-lite on esxi like described at https://blog.starkandwayne.com/2014/05/30/running-bosh-lite-on-vsphere-hypervisor-free-edition/. I successfully deployed cf but I have problems with the smoke_tests:

'cf api api.bosh-lite.com --skip-ssl-validation' fails with Error performing request: Get http://api.bosh-lite.com/v2/info: dial tcp: i/o timeout

So I ran the errand with keep-alive and used

[2016-02-17 23:37] APShirley commented on #906
Hi @ctooley,
We attempted to reproduce your errors, cf-release 230 worked fine for us. We just wanted to double check you are indeed using 230 (we assume from the cf-230.yml that you are).

What package are you getting the sha1 checksum mismatch on? This feels unrelated to the changes from the patch you applied to consul-release.

[2016-02-18 01:24] APShirley commented on #907
Hi @faizi1407,

We want to make sure we understand your question.
 - When you refer to the network, do you mean the local network that the host machine is on?
 - When you refer to the host do you mean the machine running the vagrant vm?
 - When you say make the application accessible do you mean the ability to `bosh ssh` and `cf push` from your host machine, or do you mean simply being able to mak

[2016-02-18 04:35] faizi1407 commented on #907
Hi **Shirley**,

- Yes, when i said network i meant local network that host machine is one .
- yes host means the machine where i am running vagrant VM
- For the 3rd point i want all the possibilities, bosh ssh and cf push from any machine and application accessible from anywhere(internal n/w as well as external n/w i.e internet)

Scenario is Host machine **( 10.x.x.x)**
Vagrant VM **( eth0 - 10.x

[2016-02-18 18:04] APShirley commented on #907
Hi @faizi1407,

If you take a look at the `add-route.bat` file that is included with bosh-lite you can see that it really only sets up networking for the local machine:
[code]

bosh-lite is designed for local development and hacking on CF and other bosh releases. It was never intended to be used for publicly hosting apps. It sounds like what you're trying to do would require deploying your CF on a

[2016-02-18 18:04] #907 closed

[2016-02-18 19:01] krishicks commented on #908
Hi @weberstephanhd,

@dsabeti asked the CLI team to look into this.

The error is coming from the Go standard library, which is just being surfaced by the CLI. There isn't a default dialer timeout in Go (https://golang.org/src/net/dial.go#L18), so it should fall back to the OS timeout (if any).

You might run the command again with CF_TRACE=true so we can get a better idea of the actual request/re

[2016-02-18 20:10] Amit-PivotalLabs commented on #904
Hi @StanleyShen I hope that answers your questions.  If you have a specific deployment that you want help right-sizing, feel free to open up a new issue.  I'll close this issue for now.

Best,
Amit

[2016-02-18 20:10] #904 closed

[2016-02-18 22:25] fraenkel commented on #908
@krishicks Just use DialTimeout instead of Dial.

[2016-02-18 22:34] krishicks commented on #908
@fraenkel I'm not sure I follow. @weberstephanhd is having an issue with a timeout being hit. How would adding a DialTimeout help?

[2016-02-19 10:32] weberstephanhd commented on #908
My resolv.conf on the smoke_tests VM had three entries:
[code]
The 10.something entries are corporate DNSs.

When I remove the 8.8.8.8 entry from resolv.conf the cf command works.
So, it seems that the problem was that using 8.8.8.8 as DNS is somehow blocked by our IT and whilst curl than uses one of the next entries go didn't. More, I had to take care that the bosh-lite instance already has a 'cl

[2016-02-19 10:32] #908 closed

[2016-02-19 19:14] krishicks commented on #908
Cool, I'm glad you figured it out.

[2016-02-20 01:28] ericpromislow opened #911 "Builidng libpq via "bosh -n deploy" takes a very long time."
Trying to deploy cf-release v224:

In cf/bosh-lite:

[code]

In cf/cf-release (clean repo):
[code]

`bosh deploy` is stuck with this output:
[code]

It turns out it's still compiling `libpq` -- I started this run about 90 minutes ago on a new 4-core machine. Any suggestions?

[2016-02-20 02:06] ericpromislow commented on #911
vagrant@bosh-lite:~$ ps auxww | grep pq
root      2360  0.0  0.0  18484  3548 ?        S<   00:08   0:00 /bin/bash ./configure --prefix=/var/vcap/packages/libpq
root      4550  0.0  0.0  18484  1628 ?        S<   00:08   0:00 /bin/bash ./configure --prefix=/var/vcap/packages/libpq
vagrant  21500  0.0  0.0  11752   780 pts/0    S+   01:53   0:00 grep --color=auto pq

Any idea where it's running con

[2016-02-20 03:11] Amit-PivotalLabs commented on #911
Hey @ericpromislow

Looks like a bosh-lite issue, I've migrated your issue and follow-up comment to the bosh-lite repo, they should be able to help you better.  Your output doesn't show that it's trying to compile libpq, and normally that would eventually time out, instead it sounds like bosh-lite has lost track of some compilation job.  I'll close out this issue for now, let me know if you discov

[2016-02-20 03:11] #911 closed

[2016-02-22 09:24] milkotodorov opened #912 "Performance measurement tests/framework"
Are there any official performance measurement tests/framework for CF available?

[2016-02-22 13:50] ramonskie opened #913 "it would be nice to override the networks in consul job"
i think it would be nice to override the network in consul job so we can add a floating ip to it
see https://github.com/cloudfoundry/cf-release/blob/master/templates/cf-jobs.yml#L202

just likes its done with the ha proxy or the routers
see https://github.com/cloudfoundry/cf-release/blob/master/templates/cf-jobs.yml#L240

[2016-02-22 23:22] Amit-PivotalLabs commented on #912
Hi @milkotodorov

We haven't formalized any test suite as "official", but we make heavy use of the following resources which are *de facto* standards:

* System level performance, stress, and fault tolerance testing with a Diego backend is codified in [a test protocol](https://github.com/cloudfoundry-incubator/diego-dev-notes/blob/master/proposals/measuring_performance.md) and uses [the diego-perf

[2016-02-23 13:28] mamu-icc opened #914 "can't deploy cf-deployment"
Hello there

I have some trouble deploying cf on openstack. Have followed the following tutorial:
https://docs.cloudfoundry.org/deploying/openstack/index.html
Everything except a few steps didnt work well.

1. When i deploy the envionment it says it needs the "cf2" network, which is not listed in the [template manifest of cf](https://docs.cloudfoundry.org/deploying/openstack/cf-stub.html), so i ad

[2016-02-23 19:17] dsabeti commented on #914
Hi @mamu-icc

It seems like the networking work-around that you described should work. But let's make sure that everything with that is good. Could you post the output of `bosh vms`? Also, could you post the deployment manifest **with sensitive data redacted**? That will help us find any potential problems in the deployment configuration (for example, if you're trying to deploy to the second AZ).

[2016-02-24 08:57] mamu-icc commented on #914
Hi @dsabeti

First, Thank you for the fast response!

Second, here is my cf-stub.yml:

`---
director_uuid: 2857865a-c95a-4efa-884c-60fc0d9b92b7

meta:
  environment:

  floating_static_ips:
  -

networks:
  - name: floating
    type: vip
    cloud_properties:
      net_id: 61d93361-fd32-4db0-b28a-16cb057940c1
      security_groups: []
  - name: cf1
    type: manual
    subnets:
    - range: 10.10.

[2016-02-24 10:05] milkotodorov commented on #912
Hi Amit and thanks for your answer.

Regarding my question about the router I've ran local tests using own app and nGrinder as a load generator. I described the issue there on  [cloudfoundry/gorouter#115](https://github.com/cloudfoundry/gorouter/issues/115). It seems like a bug to me in the gorouter. I've posted all the details in the thread.

Regards,
Milko

[2016-02-24 11:58] milkotodorov commented on #912
Hi Amit,

one additional question - is there something for the DEA? This that you've sent me is only for Diego...

Regards,
Milko

[2016-02-24 15:23] mawi200 opened #916 "./scripts/update fails - Failed to recurse into submodule path 'src/consul-release'"
After checking out cf-release (release 231) running ./scripts/update fails with

No further error is shown.
However, I do receive the same error message when running the bosh-lite/bin/provision_cf script.

[2016-02-24 15:59] Infra-Red commented on #916
Try to checkout latest branch and then run next:
[code]

[2016-02-24 17:26] APShirley commented on #906
Hi @ctooley,
As there hasn't been response in 7 days, we'll assume you have resolved this and are closing this issue. If you are still having problems please open a new issue.

- Al && @robdimsdale

[2016-02-24 17:26] #906 closed

[2016-02-24 17:41] robdimsdale commented on #914
Based on the error message in the debug log, the bosh team think that the error:

[code]

is a result of not being able to bind an IP to the VM.

Some CPIs emit logs which can be viewed via `bosh task <task-id> --cpi` - if the openstack CPI emits these logs it could be helpful for you to post them here.

The networking for this CF deployment seems ok - one network with multiple subnets should be f

[2016-02-24 18:07] APShirley commented on #916
@Infra-Red yes that's correct; this already happens in `./scripts/update` - see https://github.com/cloudfoundry/cf-release/blob/master/scripts/update#L37-L38

@mawi200 we did the following:

[code]

and it was successful.

Can you provide exactly the steps you performed to observe this issue?

Thanks,
- Al && @robdimsdale

[2016-02-24 21:48] robdimsdale commented on #914
Our working theory is that bosh is trying to assign an IP to a VM it created but that IP is already in use.

The bosh team suggest that the openstack IAAS logs (e.g. NOVA) would be helpful. **Please post sanitized IAAS logs**.

This is probably not a cf-specific issue, but rather something relating to how bosh is interacting with the IAAS. The CPI is essentially getting a 500 back from the IAAS AP

[2016-02-24 23:00] Amit-PivotalLabs commented on #912
@milkotodorov

I'm not aware of anything for the DEA, but the highest level of perf testing in the diego-perf-release repo should actually work against the DEAs.  The resulting logs and metrics to analyze won't quite be the same though.  You can also open up an issue at https://github.com/cloudfoundry/dea-hm-workspace/ to see if they have any DEA-specific recommendations for performance testing.

[2016-02-24 23:00] #912 closed

[2016-02-25 07:43] voelzmo commented on #914
@robdimsdale @mamu-icc The OpenStack CPI currently doesn't put the logs into `bosh task <task-id> --cpi`, you have the CPI logs within the `--debug` log. That'll be fixed soon for all CPIs with one of the next Bosh releases.

In your CPI logs I see
[code]

Which can unfortunately mean a number of things. Usually it is one of the two:
* make sure the IP address (in this case `10.10.13.9`)
* make su

[2016-02-26 11:56] mawi200 commented on #916
Thank you for the comments.

The issue seems to be related to network settings. I am accessing github from behind a proxy (http and https). Cloning the git repository works without issue and also updating seems to work fine until the procedure tries to recurse into 'src/consul-release'.
I tried both options described above but they both result in error for me.

However, I tested the same procedure

[2016-02-26 18:25] APShirley commented on #916
@mawi200

We think we found the problem. There's a submodule inside of `src/consul-release` that has a `git://` scheme instead of `https://`. It could be that this is where the script is failing to recurse when you're behind the proxy (how the proxy affects this, we're not sure).

Could you try something?
- Run `git submodule update --init` in cf-release. This should get `src/consul-release`, but

[2016-02-28 23:11] Amit-PivotalLabs commented on #827
I think the NFS -> WebDAV work is done, closing this issue.

[2016-02-28 23:11] #827 closed

[2016-02-28 23:18] Amit-PivotalLabs commented on #905
Hi @SimyungYang,

Consul does not take a username/password, it takes a collection of certs, keys, and CAs.  In your manifest, you have:

[code]

which is coming from your stub.  If you look at the documentation, it says:

The second sentence is misleading, instead you should follow the first link which explains how to easily generate certs and keys to secure your Consul cluster.

[2016-02-28 23:56] Amit-PivotalLabs commented on #913
Hey @ramonskie do you want to contribute a PR for this?  I can help you if you get stuck, but it should be mostly similar to what's there for ha_proxy.  Just be sure to run the tests and update the spec fixtures accordingly.  These tests will run automatically if you've installed the git hooks for this repo.  This is all documented in the contributing docs: https://github.com/cloudfoundry/cf-relea

[2016-02-29 17:16] Amit-PivotalLabs commented on #913
Closing this in favour of above PR.

[2016-02-29 17:16] #913 closed

[2016-02-29 17:46] rahulkj opened #919 "api_z1/0 not running on bosh-lite"
Hi,

I'm using the latest v231 release on bosh-lite (virtualbox). On deploying the release I get the following error:

[code]
Looking to the `/var/vcap/sys/log/cloud_controller_ng_ctl.log` it states
[code]

Any thoughts?

[2016-02-29 18:55] Amit-PivotalLabs commented on #919
Hi @rahulkj

I believe the team responsible for Cloud Controller are currently investigating some issues related to the CC Blobstore on BOSH-Lite deployments.  I'll ask them to try and help you out.

/cc @utako @SocalNick

[2016-03-01 10:31] mamu-icc commented on #914
Hello there

Thank you very much for helping me out in this.

I probably found the problem.** --> ** [Openstack Juno problem with fixed IP's](https://bugs.launchpad.net/nova/+bug/1396854)

So its not directly an CloudFoundry / Bosh-Problem

I will test it this afternoon and will give feedback.

Cheers, Valon

[2016-03-01 12:44] mamu-icc commented on #914
Hello there

I just patched our openstack environment with the needed patch and started to build bosh / cf from scratch. The bosh environment worked without any problems with **manual** networking after applying this patch to openstack juno:

https://review.openstack.org/#/c/158435/

So for me it solved this issue.

Thanks for all the fast help and i wish you a very nice working week.

Cheers from

[2016-03-01 12:44] #914 closed

[2016-03-01 18:39] fkotsian commented on #919
Hi @rahulkj

 We have indeed been investigating some issues related to the CC blobstore on bosh-lite. We've recently added the ability to store files using WebDAV, though the default is still NFS. A couple questions to help us debug:

1. Is this a fresh deployment?
1. Are you transitioning from NFS to WebDAV?
1. How are you generating your bosh-lite manifest?

Best,

Frank && Jeff
CF CAPI Team

[2016-03-01 20:11] rahulkj commented on #919
Hi,

Yes this is a fresh deployment on bosh-lite.
I generated the manifests using the `https://github.com/cloudfoundry/cf-release/blob/master/scripts/generate-bosh-lite-dev-manifest` using `spiff`

I haven't done anything special for the WebDAV. What is it that I need to do?

[2016-03-01 21:44] fkotsian commented on #919
Hi @rahulkj,

 Interesting. We have not seen this specific issue before, but we'd be happy to help you debug. Would you mind coming to our Slack channel at cloudfoundry.slack.com in the #capi channel so we could help in real time? If not, we are happy to help here.

Best,

Frank && Jeff
CF CAPI Team

[2016-03-02 16:47] rahulkj commented on #919
@fkotsian - I'll ping you tomorrow on slack to debug this.

[2016-03-03 13:17] johnmcteague opened #920 "router.servers.z1/2 is redundant"
The router.servers.z1 and router.servers.z2 config is confusing and irrelevant.

Regardless of what gorouters are referenced in z1 or z2, the resulting config is the same. Using z1/z2 suggests differing behavior between the two and that you should be able to map multiple az's (we accidentally put z3 in and noticed the gorouter in that zone not getting any traffic, obviously).

The config should be

[2016-03-03 22:47] Amit-PivotalLabs commented on #920
I agree.  Something similar was done for UAA:

* https://github.com/cloudfoundry/uaa-release/blob/develop/jobs/uaa/spec#L65-L67
* https://github.com/cloudfoundry/cf-release/blob/master/templates/cf-jobs.yml#L424-L444

I'll ask the Routing team to consider this change.

/cc @shalako @crhino

Best,
Amit

[2016-03-04 09:23] olzorenko opened #923 "Error performing request: dial tcp: i/o timeout"
We've faced an issue when running smoke/acceptance tests on CF 231 version:

Here is an chunk of logs (domain and password was blinked):

[code]

We're running CF on vSphere. Also this problem appears when we're trying running this CF version locally via bosh-lite and also when running smoke/acceptance tests.

Any help and thoughts will be greatly appreciated!

Best Regards,
Oleksii.

[2016-03-04 18:55] rahulkj commented on #919
Closing this issue, as the stemcell I was using was really old... by using the latest 3147, the deployment went fine. Thanks @fkotsian

[2016-03-04 18:55] #919 closed

[2016-03-05 23:53] valenbb opened #924 "error generating manifest: unresolved nodes when deploying on vsphere"
My test vsphere environment is running ESXi version6. The esx servers are vms running in VMware workstation 12 and both are connected to the NAT network.

The bosh director was deployed successfully in vsphere. When generating the cf-deployment manifest, i am getting the following error:

2016/03/05 18:22:48 error generating manifest: unresolved nodes:
        (( static_ips(1) ))     in /root/my-b

[2016-03-06 04:49] valenbb commented on #916
I can confirm that trying to get src/consul-release is using ssh scheme rather than https when behind a proxy. Made a git config change on the bosh-init machine to use https:
git config --global url."https://".insteadOf git://

Reran the scripts/update and the issue stopped.

Also, in a test environment without proxy, scripts/update was successful.

[2016-03-07 08:46] ndemeshchenko commented on #923
Same here, issue is happening randomly and not clear on what have caused it.
It can fail on accessing CF Api endpoint on one request and run success on next. Can u guys, please advise where can I check for any deep investigation? thanks

[2016-03-07 10:19] vital-st1x commented on #923
The same issue for new 231 version (webdav blobstore or nfs). Clean instructions for debug (not only CF_TRACE=true) will be nice.

[2016-03-07 17:26] Amit-PivotalLabs commented on #924
Looks like you only have 1 network.  This is fine, but the provided scripts assume 2, so you need to give it a dummy `cf2` network.  [Example](https://github.com/cloudfoundry/cf-release/blob/3d203ce/spec/fixtures/openstack/cf-stub.yml#L33-L37)

[2016-03-07 22:04] Amit-PivotalLabs commented on #905
Hi @SimyungYang,

Haven't heard back from you, so I assume you were able to get this sorted. I'll close the issue, feel free to open an issue if you have further questions.

Best,
Amit

[2016-03-07 22:04] #905 closed

[2016-03-07 22:30] Amit-PivotalLabs commented on #887
Closing this thread due to inactivity.

[2016-03-07 22:30] #887 closed

[2016-03-08 18:40] robdimsdale commented on #916
@mawi200 @valenbb The infrastructure team has fixed this in consul-release (v63). The change has yet to be propagated to a final version of cf-release, but this should be fixed once cf-release v232 gets cut.

Rob && @dsabeti

[2016-03-08 18:49] robdimsdale commented on #923
We have recently started to observe this too on bosh-lite running on AWS - the CLI is hard-coded to time out after 5 seconds, so it is possible that it is taking more than 5 seconds for some requests to reach the API.

However, that code hasn't changed in 18 months (and it isn't confined to a single infrastructure so we can't assume it's a problem only at the IAAS), so we are investigating whether

[2016-03-09 01:08] valenbb commented on #924
I realized that today and will give it a shot and let you know the results.

[2016-03-09 01:34] #924 closed

[2016-03-09 05:11] bingosummer opened #925 "Add a parameter `service_id` in Polling Last Operation of service broker APIs"
This is a feature request.

[code]

If the broker provides multiple services, with the service id, the broker can determine which service the instance is, and get the state of the last operation. In such a scenario, the broker does not need to store the map between the instance id and the service id.

[2016-03-09 06:03] Amit-PivotalLabs commented on #925
@bingosummer thanks for this input.  I'm going to migrate your issue to the Cloud Controller repo so the API team can get eyes on your feature request.

[2016-03-09 06:03] #925 closed

[2016-03-09 20:06] robdimsdale commented on #923
@vital-st1x @ndemeshchenko @olzorenko our issue was a misconfigured DNS record in `/etc/resolv.conf` so we suggest you check your nameservers point to valid DNS servers, and that those servers have the required DNS entries for the hostnames.

Also potentially related is that the CLI recently switched from golang 1.5 to 1.6 - see https://github.com/cloudfoundry/cli/issues/763.

Let us know if fixin

[2016-03-10 06:02] AbelHu opened #926 "CF v231: HAPROXY always reloads every 10 seconds."
I deployed CF with Diego. Before adding a Windows server to the Diego, I updated my CF manifest. But when updating the CF, the task failed with below error. After checking the logs of haproxy, I found the HAPROXY always reloads every 10 seconds.

Although the task fails, everything still works. I can use cf commands to push new applications and check the status of applications. And the Windows Ser

[2016-03-10 19:05] jtarchie opened #927 "deploying to bosh-lite on current cf-develop (eb2f8efaa94085bca6b6fa154314d1792384cdc9) errors on blobstore_z1 canary"
I'm unable to access the logs from other CI systems to validate if this an error we are experiencing or if other deployment are too.

We've not been able to evaluate the issue as of yet.

[code]

[2016-03-10 20:57] olzorenko commented on #923
Hello robdimsdale!

Thank you for your reply!

I'll check your suggestion about DNS configuration and get back to you shortly.

Btw, here are my bosh and cf versions:

BOSH 1.3202.0
cf version 6.15.0+fa1bfe2-2016-01-13

Best Regards,
Oleksii.

[2016-03-11 13:13] FaKeller opened #929 "Cannot find deployment manifest"
**Background:**
I tried to install CloudFoundry on BOSH-Lite and followed the [official documentation](http://docs.cloudfoundry.org/deploying/boshlite/index.html). In Step 2, in the "Deploying Cloud Foundry using BOSH: Deploy!" part, the command `bosh deploy` failed with the following error message:

[code]

**Bug:**
However, I have followed the docs in Step 2 and created the deployment manifest u

[2016-03-11 14:26] ScarletTanager commented on #929
@FaKeller - this looks like a bug in the docs to me.  You run `scripts/update` to refresh your local cf-release repo (and its many submodules), and I would definitely do this before doing the manifest generation.  `bosh create release` does not depend on having a manifest, but `bosh deploy` obviously does.  Your workaround is, I think, what should be the actual documented path.

[2016-03-11 17:54] robdimsdale commented on #927
@jtarchie is this a local bosh-lite or one in AWS? We deploy a brand-new CF to a `vagrant up`'d bosh-lite on AWS in [our CI pipeline](https://runtime.ci.cf-app.com/pipelines/cf-release/jobs/deploy-and-test-bosh-lite/builds/845) and the most recent SHA that we saw succeed was: fcda9c68ad2a956f7b19c1e30199af206279429c which is more recent than the one you tested.

We never saw your particular SHA (e

[2016-03-11 18:20] jtarchie commented on #927
I have a follow up to this.

It turns out it had to do with the domain that we were using for out bosh-lite. It is a rather long subdomain and the default nginx setup on the blobstore.

The error we saw in our logs for nginx on blobstore contained:

[code]

After complex research and deduction (read: Google), we found some text in the nginx docs about this.

We edited the `nginx.conf` on blobstore

[2016-03-11 18:20] #927 closed

[2016-03-11 18:24] robdimsdale commented on #927
Ok thanks for the detailed follow-up. If you think this is something that should be changed in cf-release please feel free to open another issue or submit a PR.

Rob && @nimakaviani

[2016-03-11 20:18] robdimsdale commented on #926
We have not seen this before, and cannot reproduce the behavior you observe. It doesn't look like haproxy produces any more log files, and when we configured haproxy to log debug we found it did not produce any more information.

There may be more information in the monit log: `/var/vcap/monit/monit.log` - could you paste the (sanitized) output here please?

Thanks,
Rob && @nimakaviani

[2016-03-11 20:46] Xhings opened #930 "Router failure during CF Installation"
Hello guys,

I am trying to get CF up and running on boshlite. Attached is the screen scratch of the installation steps followed, deploy.xml and debug logs for router job.

I tried fixing this with cck but could not get it up and running.Please let me know what am I missing.

[Issue.zip](https://github.com/cloudfoundry/cf-release/files/169921/Issue.zip)
Regards,
Xhings

[2016-03-11 22:20] robdimsdale commented on #929
@FaKeller @ScarletTanager yes this was a bug in the docs - we've made a change to [a fork](https://github.com/robdimsdale/docs-deploying-cf) and there will be a PR to the [upstream docs](https://github.com/cloudfoundry/docs-deploying-cf) in due course. Once that PR is merged the docs will be updated.

Thanks,
Rob && @nimakaviani

[2016-03-11 23:48] Amit-PivotalLabs commented on #929
PR to fix docs has been submitted, closing.

[2016-03-11 23:48] #929 closed

[2016-03-12 20:19] scotthasse opened #931 "push fails after "minimal aws configuration" with "Could not find a default domain""
I recently provisioned an aws micro instance using the "minimal aws configuration" steps found at https://github.com/cloudfoundry/cf-release/tree/master/example_manifests.  The deploy of cf seems to have gone fine, but when trying to push the dora app I get:

FAILED
Could not find a default domain

also "cf domains"fails with a 500 error.   Debugging with CF_TRACE=true shows a 500 response for

GE

[2016-03-14 02:28] AbelHu commented on #926
The manifest is [here](https://github.com/Azure/azure-quickstart-templates/blob/master/bosh-setup/manifests/multiple-vm-cf.yml#L87-L108). Before I changed allow_from_entries in the manifest, it worked well.

/var/vcap/monit/monit.log:
[UTC Mar 10 05:47:17] error    : 'haproxy' process PID changed from 2735 to 2782
[UTC Mar 10 05:47:17] error    : 'haproxy_config' timestamp was changed for /var/vca

[2016-03-14 10:17] olzorenko opened #932 "the stack could not be found: The requested app stack cflinuxfs2 is not available on this system."
Hello all,

Same here.

We've faced this problem:

the stack could not be found: The requested app stack cflinuxfs2 is not available on this system.

Also we've noticed that it's appearing from time to time. If we try to push an app again few more time (with 5-10 sek delay) - it's pushing normally.

We're assuming this may be caused by simultaneous deployment. For instance - if I push app A and at

[2016-03-14 19:39] dsabeti commented on #926
@AbelHu

The haproxy reloads when the ssh-proxy registers (or, re-registers) itself with consul. The idea is that the haproxy can dynamically be reconfigured to accommodate the ssh-proxy traffic. It could be there are problems with your ssh-proxy in Diego. Please post the logs from the `access` job on Diego. Also, try querying Consul for its services. You should be able to use [the REST API](https

[2016-03-15 10:51] olzorenko commented on #923
Hello @robdimsdale!

Sorry, but I can't find a place where I can configure Cloud Foundry's DNS service.

Do I need to do this configuration on my global DNS (which serves my domain) or there are a separate job in bosh or component in cloud foundry deployment?

Simply put - where I need to check/modify /etc/resolv.conf for correct nameservers?

Thanks in advance!

Best Regards,
Oleksii.

[2016-03-15 18:55] robdimsdale commented on #923
@olzorenko each VM has its own `/etc/resolv.conf` which is written by bosh when the VM is created. The IAAS can also add entries, e.g. AWS DHCP options. If a job is co-located with the `consul_agent` job, the `/etc/resolv.conf` may be modified after the VM is created.

In case you're not familiar; if you run an errand with `--keep-alive` then bosh will keep the VM around after the errand has exite

[2016-03-15 19:10] robdimsdale commented on #931
Hi @scotthasse,

First of all, could you please clarify what you mean by the following:

The minimal bosh deployment results in a handful of VMs; it does not deploy to a single micro instance.

Can you provide the output of `bosh vms`?

Assuming all VMS are healthy, and the deploy succeeded, can you please send us the logs from your `api_z1` job of your bosh deployment (please make sure any secret

[2016-03-15 19:15] robdimsdale commented on #930
@Xhings your manifest contains:
[code]

This means you are trying to deploy the routing API. This feature requires diego and the routing release, so if you do not want this feature, remove this line or set `enable_routing_api: false`.

How did you create this bosh-lite manifest? The recommended method is to use `./scripts/generate-bosh-lite-dev-manifest` from the `cf-release` directory which does

[2016-03-15 20:44] robdimsdale commented on #932
@olzorenko to our knowledge there is no global lock on the stack, and no reason why pushing two apps simultaneously should not work.

What infrastructure are you on? We assume you are using dea and not diego. Can you provide the logs for the `api_z1` and `runner_z1` jobs and your deployment manifest (both redacted)?

Thanks,
Rob & @nimakaviani

[2016-03-16 01:35] jona23 commented on #923
@robdimsdale Here I am Rob, I'm Giovanni, the user that posted the issue about "dial: tcp i/o timeout" error on lists.cloudfoundry.org. I have many news about my problems.
I'm working on a BOSH-Lite deployment of Cloud Foundry with a group of research engineers in Italy, specifically my team is a research engineer group of an italian university. The thing is that the university has blocked all DNS

[2016-03-16 05:10] AbelHu commented on #926
@dsabeti Thanks. It seems like that the diego concul agent causes this issue. But after deploying diego, the haproxy still works. It occurs only when updating cf after deploying diego. You can see my diego manifest [here](https://github.com/cloudfoundry-incubator/bosh-azure-cpi-release/blob/master/docs/advanced/deploy-diego/single-vm-diego.yml). Do you have any idea?

[2016-03-16 11:17] olzorenko commented on #932
Hello @robdimsdale

We're using vSphere as infrastructure with DEA (cf version 225).

Please find logs by this link (google drive) and manifest in attachment.

https://drive.google.com/folderview?id=0B7HcBh-H6d-7WldYRENYT0ZKbU0&usp=sharing
[cf-manifest_wiped.yml.zip](https://github.com/cloudfoundry/cf-release/files/175827/cf-manifest_wiped.yml.zip)

Best Regards,
Oleksii.

[2016-03-16 12:30] olzorenko commented on #932
Just realized that I've posted all logs, not only the latest ones.

I've downloaded logs from api (0 and 1) and runner (0 and 1) in 1-2 minutes after mentioned error appears (so it should be in the end of the log files).

Best Regards,
Oleksii.

[2016-03-16 18:14] APShirley commented on #923
@jona23,
Can you do a `dig` on `api.bosh-lite.com` from any vm in your deployment and post the output here.

`10.0.2.3` is the `bosh-director` gateway that should eventually resolve to your university dns server. If you have a dns server that takes too long to respond, or is incorrect the timeout issue will manifest itself.

Our hypothesis in this situation is that, if you have removed the public

[2016-03-16 19:14] APShirley commented on #932
@olzorenko,

We had a look at your manifest and there is an empty array of `stacks` under the `cc` job which we think is possibly causing your problem. Can you try deleting the line (:922) from your manifest and tell us if that fixes the issue.
[code]
 From the logs you posted, it seems that one of the two cloud controllers can not stage apps properly and the reason you see the failure is because

[2016-03-17 09:41] gnapoli2 commented on #923
@APShirley ,
here's the output of `dig api.bosh-lite.com`:

[code]
I have launched it on the VM `api_z1/0`.

About the `resolv.conf` files of the `bosh-director` and host, here what's inside them:

- `bosh-director`
[code]

- about my `host`, i have to say that i'm using the `network-manger` service, so maybe `resolv.conf`file is ignored by it. However, university DNS ip server is properly set to

[2016-03-17 17:36] APShirley commented on #923
Hi @gnapoli2,
Please do try removing the 8.8.8.8 nameserver from the bosh-director. Also, as a temporary workaround, as already suggested in [this issue thread](https://github.com/cloudfoundry/cli/issues/763), you can try setting the global environment variable `GODEBUG=netdns=cgo` to see if that helps (it is a temporary workaround suggested by the cf-cli team). Also when running `cf push` please

[2016-03-17 18:05] StanleyShen opened #933 "Trying to decrease VM size and running into some issues"
Hello, all

I am trying to create a new deployment file for minimizing VM size, and I started the work based on https://github.com/cloudfoundry-community/cf-boshworkspace

It looks it's not maintained right now, my question got no response for several days.
Anyway, I create an deployment file based on it, and when deploying I always got error about consul component.

The deployment file starts fro

[2016-03-17 19:03] APShirley commented on #926
@AbelHu,

Sorry for being repetitive but in order to better help you debug this issue we need to be able to look at the (**sanitized**) logs for the access jobs on the bosh deployment (they should appear as `access_z1/0` etc... in `bosh vms` output). You could also look at the [REST API](https://www.consul.io/docs/agent/http/catalog.html#catalog_services) to see the available services.

We can tak

[2016-03-18 02:32] StanleyShen commented on #933
From monit log, I can see things like:
[code]

[2016-03-18 07:49] Amit-PivotalLabs commented on #933
This issue was fixed in CF v231.  You can upgrade, or if you don't want to I can guide you to manually recover from this scenario.

[2016-03-18 07:58] StanleyShen commented on #933
I tried to kill consul_agent process for failed VMs and did "monit restart consul_agent"
And I can see some VMs are back.

Is the guide same with what I mentioned above?
If not, please show me the detail guide on it.

I would like to upgrade to v231 later.

[2016-03-18 08:15] AbelHu commented on #926
@APShirley I cannot find any error in consul_agent.stdout.log and consul_agent.stderr.log. You can see consul_agent log as below.
    2016/03/16 05:47:16 [INFO] agent: Synced check 'service:tps'
    2016/03/16 05:47:16 [INFO] agent: Synced check 'service:bbs'
    2016/03/16 05:47:16 [INFO] agent: Synced check 'service:cc-uploader'
    2016/03/16 05:47:16 [INFO] agent: Synced check 'service:file-se

[2016-03-18 10:03] StanleyShen commented on #933
After these manual works, I still have some issues in my "services_z1/0".
[code]

For cloud_controller_worker_ctl the error shows
[code]

[code]

Is there any known issue for this?

Regardless these errors, the instance is able to login and enable diego support.
I tried to push a simple nodejs APP to this instance, and I got same error mentioned in issue https://github.com/cloudfoundry/cf-release/

[2016-03-18 10:41] sujeetyadav opened #934 "Installing Cloud Foundry in Local Machine"
Hi,

I am trying to install cloud foundry on local machine.
I am following steps mentioned in http://software.danielwatrous.com/explore-cloudfoundry-using-bosh-lite-on-windows/
I have done following:
1) Installed following softwares on windows 7:
a) VirtualBox-5.0.14-105127-Win
b) vagrant_1.8.1
c) rubyinstaller-2.2.4
d) cf-cli-installer_6.16.1_winx64
e) Git-2.7.0-64-bit
f) Putty

2) Cloned bosh li

[2016-03-18 18:18] Amit-PivotalLabs commented on #934
The `provision_cf` script failed, so you will definitely not be able to set `cf api` successfully.  It timed out downloading an asset from a blobstore, but it was able to download many of the other assets, so it's not a systemic problem.  Something just took too long.  Just try the `provision_cf` script again.

[2016-03-21 03:22] valenbb opened #936 "Error filling in template 'blobstore.crt.erb' (line 1: Can't find property `["blobstore.tls.cert"]')"
I am deploying CF v233 in a test vsphere environment.
Bosh CLI installed is v1.3215.0

The following error is reported:
Error 100: Unable to render instance groups for deployment. Errors are:
   - Unable to render jobs for instance group 'blobstore_z1'. Errors are:
     - Unable to render templates for job 'blobstore'. Errors are:
       - Error filling in template 'blobstore.crt.erb' (line 1: Can

[2016-03-21 17:36] shalako commented on #920
Sounds reasonable. I'll pull this into the backlog.

"As an operator deploying Cloud Foundry, I should discover that the manifest properties router.servers.z1 and router.servers.z2 have been replaced with a single property router.servers."

[2016-03-21 17:57] Amit-PivotalLabs commented on #936
For a test environment, you should be able to generate an RSA private key, then use that to create a self-signed TLS certificate.  You then want to put the (PEM-encoded) contents of those files into your manifest.  I don't see anything in your cf-deployment that has something like:

[code]

/cc @utako @SocalNick

[2016-03-21 18:09] gnapoli2 commented on #923
Sorry, i didn't see the message. Tomorrow (here in Italy Italy 19:00 pm) i'll post all the informazioni you asked me.
However i did another try: i changed the gateway of my connection to one that i'm using alone and seems that the issue  disappeared. So my answer is;
- do you think that the gateway was the problem?(it's used for all the località network in my laboratory so responding to many reque

[2016-03-21 18:34] valenbb commented on #936
This is the first time seeing anything related to TLS. I wasn't sure if I should have gone ahead and generated key and cert. I will do this and let you know of the results. By chance, will the cloudfoundry docs be updated to reflect that this parameter is now needed?

[2016-03-21 20:43] Amit-PivotalLabs commented on #933
Hey @StanleyShen

I'm not intimately familiar with the `cloud_controller_worker`.  You may wish to open an issue on the [Cloud Controller repo](https://github.com/cloudfoundry/cloud_controller_ng/issues) or ask on the [CAPI Slack channel](https://cloudfoundry.slack.com/messages/capi).

/cc @utako @SocalNick

[2016-03-21 20:58] Amit-PivotalLabs commented on #936
They will be soon, yes.

[2016-03-21 22:17] SocalNick commented on #936
@valenbb updated release notes (I'm new to this project and put the notes in the wrong section): https://github.com/cloudfoundry/cf-release/releases/tag/v232#job-spec-changes

Here is the direct link to the WebDAV manifest updates: https://docs.google.com/document/d/1PDswakRCBdnQEbJYZa01Fo8vo3DC6h3rtP3sckcp5Eo

[2016-03-22 03:24] valenbb commented on #936
@Amit-PivotalLabs - Adding the required key and cert fixed my issue. Thank you very much.

@SocalNick - Thanks for the updated notes. I have put things in the wrong place too (many many times) :-)

I will close this issue. Thanks again for the help!

[2016-03-22 03:24] #936 closed

[2016-03-22 10:21] gnapoli2 commented on #923
Hi @APShirley , here's the informations:

- Command: `cf push`, `cf apps`, `cf domains`, `cf orgs`, and other `cf` query (in poor words every http request made with `cf-cli`;

- CLI version: `cf version 6.16.1+924508c-2016-02-26`;

- Error: `Error performing GET ... dial tcp: i/o timeout` or `Error performing POST ... dial tcp: i/o timeout`;

- CC Api Version: `v2.52.0`;

- CF Trace: about the CF_

[2016-03-22 17:25] StanleyShen opened #937 "Runner cannot be started with cf 231"
Hello, I am running into issue the runner cannot be started up.

[code]

From dea_ctl.err.log I can below errors:
[code]

And the definition for Runner job
[code]

The whole manifest is customized for minimizing VM size.
What could the cause of this issue?
What is the zip  Runner trying to unzip, and where does it comes from?

[2016-03-22 17:29] fraenkel commented on #937
What is the error from your dea_next.log?

It is downloading buildpacks which seem to be invalid zips.

[2016-03-22 22:49] APShirley commented on #926
Hi @AbelHu,

After further investigation, we don't have a definitive reason why this is happening. Our hypothesis is that this is related to either the consul agent or ssh proxy failing on your diego deployment.

These repeating sections of your logs leads us to believe it may be related to [this github issue](https://github.com/hashicorp/consul/issues/1057).
[code]
To further investigate with the

[2016-03-22 23:39] APShirley commented on #923
Hi @gnapoli2,

I have created a [new issue](https://github.com/cloudfoundry/cli/issues/802) with the cf api team.
As for your questions around what we think this is

- "do you think that the gateway was the problem?"

Quite possibly, it could be the gateway took too long to respond (I doubt this though), we feel it is more likely that the gateway is in some way misconfigured (or configured in conf

[2016-03-22 23:45] APShirley commented on #916
Closing this issue as it has been resolved in latest release.

[2016-03-22 23:45] #916 closed

[2016-03-23 00:45] APShirley commented on #931
Closing this issue as it hasn't been active in 7 days. If you need anything else feel free to open a new issue again and reference this one.

Thanks,
Al

[2016-03-23 00:45] #931 closed

[2016-03-23 00:47] APShirley commented on #930
Closing, no response after 7 days.

[2016-03-23 00:47] #930 closed

[2016-03-23 02:06] StanleyShen commented on #937
Just saw about 50 lines in dea_next.log
[code]
root@d35a18b0-dedf-49fc-99b2-1ec584b1ceca:~# monit summary
The Monit daemon 5.2.5 uptime: 9h 8m

Process 'consul_agent'              running
Process 'metron_agent'              running
Process 'warden'                    running
Process 'dea_next'                  Does not exist
Process 'dir_server'                running
Process 'dea_logging_agent'

[2016-03-23 03:06] fraenkel commented on #937
Sorry I should have been more explicit.

/var/vcap/sys/log/dea_next/dea_next.log

[2016-03-23 03:15] StanleyShen commented on #937
Mistaken dea_next with dea_ctl, attached dea_next.log
[dea_next.log.txt](https://github.com/cloudfoundry/cf-release/files/185332/dea_next.log.txt)

It looks like the content is correct.

[2016-03-23 04:50] StanleyShen commented on #937
I also tried to deploy diego on this CF instance.
When start an APP with diego support, I got below errors:
[code]

[2016-03-23 09:19] AbelHu commented on #926
Thanks for your help. I have pasted all logs as below.

/var/vcap/sys/log/ssh_proxy/ssh_proxy.stdout.log:
{"timestamp":"1458545650.326978922","source":"ssh-proxy","message":"ssh-proxy.authentication-failed","log_level":2,"data":{"error":"Invalid credentials","user":"ubnt"}}
{"timestamp":"1458545650.615238905","source":"ssh-proxy","message":"ssh-proxy.authentication-failed","log_level":2,"data":{"e

[2016-03-23 17:20] APShirley commented on #926
@AbelHu,

From these logs it looks like you may have misconfigured credentials in the ssh_proxy section of your manifest:
[code]
To fix this issue please examine [these lines](https://github.com/cloudfoundry-incubator/bosh-azure-cpi-release/blob/master/docs/advanced/deploy-diego/single-vm-diego.yml#L1074-L1075) and ensure that they match your uaa credentials since you disabled diego auth in place

[2016-03-23 19:33] rwwohl opened #938 "blobstore(webdav) start issues with larger blobstores"
We recently switched from the nfs services for blobstore over to the new webdav service.  We are having issues with monit starting the webdav service on one of our environments that has a very large blobstore.  We have tracked the root cause of the issue to the monit startup script which performs the following procedure before exec'ing nginx:

chown -R vcap:vcap $RUN_DIR $LOG_DIR $DATA

The recurs

[2016-03-23 20:30] SocalNick commented on #933
@StanleyShen have you had any luck with this issue? It looks like the error(s) are happening here:

https://github.com/cloudfoundry/cloud_controller_ng/blob/bf11ed99b03705a2dcc1cca4d57d8bc10cdeb7a1/bosh-templates/handle_local_blobstore.sh.erb#L4

You might want to `bosh ssh` onto the VM in question and check the permissions of `/var/vcap/nfs/shared`. As Amit mentioned, you might want to the latest

[2016-03-23 20:30] #933 closed

[2016-03-24 01:58] AbelHu commented on #926
@APShirley You can see my setting for uaa [here](https://github.com/Azure/azure-quickstart-templates/blob/master/bosh-setup/manifests/single-vm-cf.yml#L128-L140). It should be same.

[2016-03-24 22:32] Amit-PivotalLabs commented on #938
Hi @rwwohl

Looks like you've raised this issue on the cf-dev mailing list, and the CAPI team (responsible for CC and blobstore) are tracking it and thinking about this.  To consolidate, I'll close out this issue.  For anyone else interested, here is the link to the discussion thread: https://lists.cloudfoundry.org/archives/list/cf-dev@lists.cloudfoundry.org/thread/S7R5KVVL7YBFLH3HXS654I36WYR6MZNC

[2016-03-24 22:32] #938 closed

[2016-03-24 22:57] APShirley commented on #932
Closing this issue as it hasn't had any activity for 8 days. If you need anymore help please feel free to open a new issue.

Cheers,

Al

[2016-03-24 22:57] #932 closed

[2016-03-25 04:50] Amit-PivotalLabs commented on #934
Hey @sujeetyadav

Haven't heard back, so I'll assume it was just a timeout and you've progressed.  I'll close the issue for now, please feel free to open a new one if you're still having issues.

[2016-03-25 04:50] #934 closed

[2016-03-25 07:44] StanleyShen commented on #937
With latest version, the runner is up and APP can be pushed. But I still can met the last issue I mentioned, when pushing APP,  the stage will be failed due to failed to download buildpack.
[code]

I am also trying on a clean bosh-lite environment, and will let you know the result.

Close this issue for now, thanks for helping.

[2016-03-25 07:44] #937 closed

[2016-03-25 18:21] jfmyers9 commented on #926
Hi @AbelHu,

[code]

The above log lines indicate a user was unable to authenticate while sshing into a container on Diego. This is generally due to improper manifest properties surrounding the UAA and ssh-proxy. Please consult [this documentation on generating the ssh host-key and fingerprint](https://github.com/cloudfoundry-incubator/diego-release/tree/develop/examples/aws#generating-ssh-proxy-h

[2016-03-28 08:15] AbelHu commented on #926
@jfmyers9 I assure that the [ssh host-key and fingerprint](https://github.com/Azure/azure-quickstart-templates/blob/master/bosh-setup/manifests/single-vm-cf.yml#L185-L187), ssh-proxy properties  in [cf.yml](https://github.com/Azure/azure-quickstart-templates/blob/master/bosh-setup/manifests/single-vm-cf.yml#L589-L595) and in [diego.yml](https://github.com/cloudfoundry-incubator/bosh-azure-cpi-rele

[2016-03-29 07:46] making commented on #926
@AbelHu
I met same the trouble while deploying CF on Azure.
After restarting consul_agent on diego deployment, it looks fine now.

[2016-03-30 02:08] SimyungYang opened #940 "cf app can't send a request to open api."
Now, I'm running and testing CF.
When one of my node app tried to send a request to open API, I've got this error message.

"502 Bad Gateway: Registered endpoint failed to handle the request."

I think outbound packet is stuck in somewhere, I'm not sure though.

I checked the  running security groups, space security groups.
It seems okay. running security groups has public_networks and it has the

[2016-03-30 10:29] omazhary opened #941 "New blobstore properties are not optional"
The blobstore properties introduced in v233 in the ```properties``` block are not optional. Meaning, you can't set the ```blobstore``` block to ```null``` by ```blobstore: null``` as shown in the [document](https://docs.google.com/document/d/1PDswakRCBdnQEbJYZa01Fo8vo3DC6h3rtP3sckcp5Eo/edit?pref=2&pli=1#heading=h.oi6irfqgers2) when keeping the existing nfs blobstore. The templates no longer functi

[2016-03-30 13:21] omazhary opened #942 "Unable to mount nfs store"
The cloud controller job fails to update from v231 to v233 even after applying the process described in the [document](https://docs.google.com/document/d/1PDswakRCBdnQEbJYZa01Fo8vo3DC6h3rtP3sckcp5Eo/edit?pref=2&pli=1#heading=h.oi6irfqgers2). Following is the output of ```monit summary```:
[code]
Going through the logs, the following error was found in ```/var/vcap/sys/log/cloud_controller_ng_ctl.l

[2016-03-30 14:08] omazhary commented on #942
This [file](https://github.com/cloudfoundry/cloud_controller_ng/blob/33ecd925c6d6a3bcfe6e83e07e02634c10881138/bosh-templates/handle_local_blobstore.sh.erb) might be related. There are checks for all important property sections except buildpacks.

[2016-03-30 17:26] Amit-PivotalLabs commented on #942
/cc @utako @SocalNick

[2016-03-30 17:30] Amit-PivotalLabs commented on #941
/cc @SocalNick @utako

[2016-03-30 18:08] robdimsdale commented on #923
@gnapoli2 @olzorenko we are going to close this issue now, and suggest you take a look at the issue we created on the CF CLI repo: https://github.com/cloudfoundry/cli/issues/802.

Thanks,
Rob & @APShirley

[2016-03-30 18:08] #923 closed

[2016-03-30 22:47] youreddy commented on #941
Hello @omazhary,

Are your `blobstore_z1` instances set to 0 in the deployment manifest file? This will ensure that the blobstore vm does not run and therefore not look for the unspecified properties.

@youreddy & @petergtz
CF CAPI Team

[2016-03-31 06:13] omazhary commented on #941
Yes. It has no instances. That's why I found it strange. I filled the properties up with the same defaults provided for warden deployments, and so far it works. However, it is not a pretty workaround.

This is my blobstore job section of the manifest:
[code]

[2016-03-31 07:29] omazhary commented on #942
Deploying from scratch did not solve the problem either.

[2016-03-31 08:34] AbelHu commented on #926
@making You are right. I used 'bosh ssh' to login to access_z1/0. Then I executed 'sudo monit restart consul_agent'. The status of haproxy becomes 'running'.

@jfmyers9 @APShirley Does anyone know the reason?

[2016-03-31 08:40] omazhary commented on #942
**Root Cause Found:** Removal of the ```nfs_mounter``` template from the ```api_zX``` job. Since the scripts get removed in the update from v231 to v233, the nfs blobstore never gets mounted, and the cloud controller hangs and eventually fails during deployment.

Should the upstream templates be adjusted accordingly?

[2016-03-31 21:19] robdimsdale commented on #940
@SimyungYang it sounds like you're using warden, so let's see if the team responsible for that runtime has any thoughts.

/cc @fraenkel @jberkhahn @swetharepakula

[2016-03-31 21:53] swetharepakula commented on #940
Hi @SimyungYang,

We wanted to get some more information to help you debug the issue. Could you see what your manifest says for warden.allow_networks? Also inside the runner vm could you send us the output of `iptables --list`. That will help us determine if this is cause by some warden configuration or not.

Thanks,
@swetharepakula, @jberkhahn
RuntimeOG Team

[2016-03-31 23:30] fraenkel commented on #940
@SimyungYang Are you using Diego or DEAs?  There is no SSH to DEA containers so I would think you are using Diego.

How did you deploy this Open API? Is it a CF app?
Who is returning the 502 error? Usually the headers will provide additional details.

[2016-04-01 00:29] SimyungYang commented on #940
I am using DEA version. and SSH into the container by the following method.
https://myupbeat.wordpress.com/2015/05/09/ssh-into-the-warden-containers-running-within-a-dea-in-bosh-lite/

Open API meant Cloud Foundry API : http://apidocs.cloudfoundry.org/233/.

And dea_next.allow_networks key is confugured as 0.0.0.0/0.
Its value had nothing at first, and I changed it to the above when I ran into thi

[2016-04-01 05:40] SimyungYang commented on #940
It's not a outbound problem.

I deployed another app in PWS just to check out that the request is correctly received in the server.
And the request was well received in the internet server.

**the problem is that the response packet is not delivered to the cf apps.**

I guess It may be gorouter issue, or my IaaS's.

[2016-04-01 17:23] simonleung8 commented on #941
Hello @omazhary

`signer_ctl.sh.erb` is a control script for the webdav blobstore, and it shouldn't be executed during the nfs_z1 job, therefore, the nfs_z1 job might not be properly configured.

If you don't mind, you can post the jobs section of nfs_z1 in your manifest and we can help diagnose the problem. Be sure to exclude any sensitive information (password etc.).

Thanks
Simon & @petergtz

[2016-04-01 17:54] simonleung8 commented on #942
@omazhary
Thank you for bringing this to our attention. We will make the migration document clearer.

Thanks
Simon & @petergtz

[2016-04-04 09:22] omazhary commented on #941
Of course, here it is:
[code]
Could it be that the colocated ```blobstore``` job is actually meant for the WebDAV blobstore?

[2016-04-04 12:58] FaKeller opened #946 "App stack cflinuxfs2 is not available"
I have CF running locally using BOSH Lite. I had the [spring-music](https://github.com/cloudfoundry-samples/spring-music) example deployed on CF and it was running seamlessly until today. Now I cannot run the application anymore. I have tried all combinations of `cf delete`, `cf scale` and `cf push` to deploy the app, but the `cf push` command always fails as follows:

[code]

So according to the

[2016-04-04 13:07] ScarletTanager commented on #946
Hi @FaKeller ,

Can you get us some more diagnostic information?  Please try the following:

1 - `CF_TRACE=true cf push _yourapp_`
2 - collect the logs from both the CC and DEA (assuming you're using DEAs), which can be found on the respective VMs (`api_z1/0` and `runner_z1/0`) under `/var/vcap/sys/log` in the appropriate subdirectories.  The logs can be quite large, so please slice out the portio

[2016-04-04 13:44] FaKeller commented on #946
Hi, thank you very much for the quick reply!

1 - I have attached the log output of `cf push` with CF_TRACE enabled: [cf-push-trace.txt](https://github.com/cloudfoundry/cf-release/files/202501/cf-push-trace.txt)
2 - I also went into the two VMs and checked the logs, but due to their size (both in terms of files and lines therein) I am not sure what to look for. I have grepped all log files for `sp

[2016-04-04 18:00] Amit-PivotalLabs commented on #926
@AbelHu

Am I understanding correctly that you're currently on Diego 0.1455.0?  Are you generating your Diego manifest using the scripts in [`diego-release` repo at the `v0.1455.0` tag](https://github.com/cloudfoundry-incubator/diego-release/tree/v0.1455.0)?  One thing that looks fishy are your [consul service configurations](https://github.com/cloudfoundry-incubator/bosh-azure-cpi-release/blob/ma

[2016-04-04 23:37] adowns01 commented on #942
We have updated the document to include the `nfs_mounter` entries for the scenario where people would want to continue using NFS blobstore. As you said, `nfs_mounter` template was removed from Cloud Controller because WebDAV is what's supported by default now. The updated document should help those who'd like to continue using NFS.

Link to document for future reference: https://docs.google.com/do

[2016-04-05 06:17] omazhary commented on #942
Thanks everyone. But does this mean you will include the missing template in the manifests, or should users then include it manually?

[2016-04-05 10:36] AbelHu commented on #926
@Amit-PivotalLabs Thanks so much. After I remove all services except etcd in my consul service configurations and redeploy Diego, it looks fine now.

[2016-04-05 10:36] #926 closed

[2016-04-05 15:38] adowns01 commented on #942
Hi @omazhary,

If users want to opt out of WebDav and continue using nfs they will have to manually update their manifests and include the template.

Thanks,
Amelia @adowns01, CAPI Team Member

[2016-04-05 20:35] ScarletTanager commented on #946
@FaKeller - just to get clarification, are you still seeing the issue after your restart?  We are going to look through your logs and see if anything obvious jumps out.

@ScarletTanager & @swetharepakula , RuntimeOG team

[2016-04-05 21:23] FaKeller commented on #946
Yes, the issue described above came after the restart. I had networking issues (no ping succeeded to the whole CF VM), which I related to VirtualBox instabilities. After the `vagrant halt`, `vagrant up` of the whole CF VM followed by a `bosh cck` to start everything again, the issue described above occurred.

I have not "restarted" the CF VM since the above issue occurred. Could a restart potentia

[2016-04-05 21:58] ScarletTanager commented on #946
@FaKeller - What is happening is that the CC cannot find a valid stager (DEA) advertising the stack in question.  The most common cause for this is a failure in NATS (message bus) communication, which could itself result from a variety of reasons.  Given what you did to "restart" your CF environment, there is one bug which might be related to this, and it is fixed in [release 233](https://github.c

[2016-04-06 06:24] omazhary commented on #942
Hi @adowns01,

thanks for the response. Will close the issue now.

Regards,
Omar

[2016-04-06 06:24] #942 closed

[2016-04-07 08:43] AbelHu opened #947 "Can you add --local to only use local cache to install ruby 2.1.8 or 2.2.4?"
Sometime the network to rubygems.org is not stable, especially in some countries. So when deploying cloud foundry, the tasks always fails in compiling ruby.

Could you add --local to below two lines to only use local cache when compiling ruby?

[${BOSH_INSTALL_TARGET}/bin/gem install ruby-2.1.8/bundler-${BUNDLER_VERSION}.gem --no-ri --no-rdoc](
https://github.com/cloudfoundry/cf-release/blob/d5897

[2016-04-07 16:27] fraenkel commented on #940
@SimyungYang X-Cf-Routererror:endpoint_failure means the router failed to access the endpoint. You are obviously making it out of the container.  Where do you think you are going?

[2016-04-07 16:40] SimyungYang commented on #940
@fraenkel i guess it might not be a cf issue. i am not sure though. i running cf on openstack community version. when i check the packet on openstack with tcpdump, the response pacjet is not passing through between neutron and nova.
i will comment if i find more detail. thank you

[2016-04-08 00:30] petergtz commented on #941
Yes, this is what we think. Can you try again with the `blobstore` template removed?

[2016-04-08 14:18] FaKeller commented on #946
@ScarletTanager - Thanks for the detailed feedback. Today I examined the environment the way you proposed. I have in fact already a Java-based client listening to all NATS and Firehose messages. I assume that the output using the Java libaries is the same as if I had followed your description.

Here is an excerpt of the NATS messages log:

[code]

It seems as if the `dea.advertise` message (which

[2016-04-08 14:18] #946 closed

[2016-04-11 08:28] omazhary commented on #941
Yep, it worked. So... I'm guessing this template shouldn't be included in the nfs job. Why was it included in the first place then?

[2016-04-11 09:35] FaKeller commented on #946
After deciding to `vagrant destroy` and `vagrant up` the CF VM again, the deployment with BOSH Lite did not work anymore as it *always* got stuck deploying the `uaa` component during `bosh deploy`.

I stumbled upon [bosh-lite#349](https://github.com/cloudfoundry/bosh-lite/issues/349), which is caused by a bug in the linux kernel for certain versions of the CF vagrant boxes. It turned out that I ha

[2016-04-11 17:20] ScarletTanager commented on #946
Hi @FaKeller , we're glad you were able to resolve your issue.  We just wanted to let you know that the issue with not finding a stack is definitely not related to the linux kernel bug - it actually has nothing at all to do with the filesystem.  Although you've rebuilt your environment, so there is no way to prove it at this point, we would strongly suspect that your CC was failing to subscribe to

[2016-04-11 23:54] APShirley commented on #947
Hi @AbelHu,
It seems like the --local option expects the gems it installs to be present locally, which will not be true on the compilation VM because they are not vendored in as dependencies of the ruby package. You could modify your local copy of cf-release and build a release to test your suggestion out - if it works we would be happy to accept a Pull Request.

If your suggestion doesn't work, y

[2016-04-13 07:07] omazhary commented on #941
Also, has the issue been resolved?

[2016-04-13 14:27] valenbb opened #949 "Consul_z1/0 is not running after update"
IAAS: vsphere-cpi
BOSH: latest version in centos 7
cf-release: latest version
stemcell: latest ubuntu
bosh dorector: latest ubuntu stemcell

Observing error below after fixing IP conflicts:

==============================================
  Started updating job consul_z1
  Started updating job consul_z1 > consul_z1/0 (4a91d405-8175-4535-b07b-5d3d18e42a5c) (canary). Failed: `consul_z1/0 (4a91d405-81

[2016-04-13 22:16] SocalNick commented on #941
@omazhary I'm going to mark it as resolved. I don't think we ever specified that `nfs_z1` should include the blobstore template. If you have seen documentation that shows otherwise, I'd be happy to correct it.

[2016-04-13 22:16] #941 closed

[2016-04-13 23:59] gdean123 commented on #949
Hi valenbb,

It looks like you are using a certificate that has been generated with a common name of *.cfvmware.research.ge.com, but you didn't update the manifest properties to reference the new domain. If you update properties.consul.agent.domain to be cfvmware.research.ge.com in the cf manifest, you should be good to go.

Alternatively, you could use [this script](https://github.com/cloudfoundr

[2016-04-14 03:00] valenbb commented on #949
Thanks George and @christianang.

I decided to leave cf.internal intact in the manifest and generate certs specific to the server. This worked successfully.

Last week, I did figure out changing cf.internal to match my domain and that worked until another error appeared, so I decided to retry from a clean slate this week. Then i stumbled into the same error when using my domain:

error during star

[2016-04-14 17:51] gdean123 commented on #949
Hi valenbb,

We wanted to better understand your use case for changing the domain from server.dc1.cf.internal to cfvmware.research.ge.com, since this domain is only used for internal service discovery within Cloud Foundry. Is there something special about your installation that makes it desirable to customize the domain?

We are guessing that part of the confusion here is that the server.dc1.cf.in

[2016-04-15 01:58] fraenkel commented on #940
@SimyungYang We are closing this for now. You can reopen it if you find out more details.

[2016-04-15 01:58] #940 closed

[2016-04-15 09:51] saliceti opened #950 "statsd_injector fails to start due to missing package"
[code]

cf-release points to this version of statsd-injector in loggregator:
 https://github.com/cloudfoundry/loggregator/tree/c57eaa5f3f6330e10e3b3bc209b195a85635fedf/jobs/statsd-injector

statsd-injector can't start because it can't find file `/var/vcap/packages/common/utils.sh`.

https://github.com/cloudfoundry/loggregator/blob/c57eaa5f3f6330e10e3b3bc209b195a85635fedf/jobs/statsd-injector/templ

[2016-04-15 13:08] omazhary commented on #941
Then I assume this should also be updated?
https://github.com/cloudfoundry/cf-release/blob/master/templates/cf.yml#L1301-L1311

[2016-04-15 16:53] SocalNick commented on #941
@omazhary that template is there for those wanting to migrate their nfs vm to webdav without losing their blobs.

[2016-04-15 18:54] dsabeti commented on #950
Hey @saliceti. Thanks for pointing this out. It looks like loggregator was [bumped in the develop branch of cf-release](https://github.com/cloudfoundry/cf-release/commit/6be73210433e4282496522117e8f11970f156f3e), so these changes will be included in the next final release of cf.

If you're experimenting or working with a non-production deployment, you could try to use the `release-candidate` branc

[2016-04-15 18:54] #950 closed

[2016-04-16 20:25] valenbb commented on #949
Hi George and @zankich,

You have hit the reason excellently:

"We are guessing that part of the confusion here is that the server.dc1.cf.internal domain is hardcoded in scripts/generate-consul-certs and is not mentioned in the docs."

I was thinking that domains would be our chosen domain. If mentioned in the docs, that this is hardcoded for internal working in CF, users like myself would not hav

[2016-04-18 06:13] omazhary commented on #941
@SocalNick, well, that template forces nfs users, who will/can not -for some reason- migrate to webDAV, to include properties that are completely irrelevant to their deployment. Even worse, it causes the deployment to fail. Suggestions?

[2016-04-18 16:22] gdean123 commented on #949
Hi valenbb,

Thanks so much for the feedback. We have captured this plan in this upcoming story:

https://www.pivotaltracker.com/story/show/117638983

We believe that your colleague using the openstack-cpi did not run into this problem because older versions of consul-release had cf.internal hardcoded as it's internal domain.

Thanks,
George and @zankich

[2016-04-18 16:22] #949 closed

[2016-04-19 11:29] vfonsecapv opened #954 "Need some help with CF OSS Deploy"
Guys I face some issues with CF OSS install, everytime I try BOSH DEPLOY i get this:

[code]

I'm using AWS. My cf.yml:

[code]

[2016-04-19 11:31] vfonsecapv commented on #954
I just follow the install steps from manual to AWS. If the installation does not work unfortunately I think we should modify the installation manual. I follow exactly the steps and BOSH was successfully installed using the bootstrap.

[2016-04-19 16:49] efenderbosch opened #955 "404 setting api url using bosh_lite"
Using:

- bosh_lite 9000.109.0
- cf-release v234 (both latest tags from github)
- Vagrant 1.8.1
- Virtualbox 5.0.4_LinuxMintr102546
- cf 6.17.0+5d0be0a-2016-04-1
- kernel 3.19.0-32-generic

Here's a partial log from bosh_lite/bin/provision_cf:

[code]

ip route list shows:

[code]

and netstat -r:

[code]

cf api cf api --skip-ssl-validation https://api.10.244.0.34.xip.io returns:

[code]

vagrant

[2016-04-19 16:53] vfonsecapv commented on #955
Do you perform bin/add_route?

[2016-04-19 16:55] efenderbosch commented on #955
Yes, that's why I posted the results of ```ip route``` ```netstat -r``` and ```tracepath``` so you could see the routing is working.

[2016-04-19 16:56] vfonsecapv commented on #955
Can you try api.bosh-lite.com

[2016-04-19 16:57] efenderbosch commented on #955
That's accepted. Prompts for Email and Password.

[2016-04-19 16:58] vfonsecapv commented on #955
The new version don't use anymore .xip.io you can, but the default is api. login. and go on for bosh-lite.com

[2016-04-19 16:59] efenderbosch commented on #955
What credentials should I use? I tried admin and empty password, but that's rejected.

[2016-04-19 17:01] vfonsecapv commented on #955
admin user
admin password

[2016-04-19 17:08] vfonsecapv commented on #955
if work. Please close the issue :)

[2016-04-19 17:13] efenderbosch commented on #955
admin/admin worked, thanks

[2016-04-19 17:13] #955 closed

[2016-04-19 18:11] robdimsdale commented on #947
@AbelHu as it's been a week without response we will close this issue. Please feel free to open another issue or a PR.

Thanks,
Rob
CF Release Integration
Pivotal

[2016-04-19 18:11] #947 closed

[2016-04-19 18:19] DennisDenuto commented on #954
Hi @vfonsecapv,

[Bosh docs](https://bosh.io/docs/tips.html#unreachable-agent) recommends looking at the [agent logs](https://bosh.io/docs/job-logs.html#agent-logs) to debug this issue. This requires that you `bosh ssh` onto the vms while they are running and looking at the logs as specified in the docs. You could also post **sanitized** versions of those logs here so we can help you debug this is

[2016-04-19 18:46] #954 closed

[2016-04-19 22:35] youngm opened #956 "Confusion around dropsonde, metron, gorouter, and dea metron ports"
I'm having a little trouble deploying 234.  Digging a little deeper the metron/dropsonde configuration seems to be a little untidy.  Here are some things I noted:

* DEA uses `metron_endpoint.port` for dropsonde messages and defaults it to `3457`: https://github.com/cloudfoundry/dea-hm-workspace/blob/master/jobs/dea_next/spec#L161

* gorouter uses `metron_endpoint.port` "for legacy protocol" and d

[2016-04-19 22:43] youngm commented on #956
Also, gorouter puts these values into a config called `loggregatorConfig` https://github.com/cloudfoundry/cf-release/blob/master/jobs/gorouter/templates/gorouter.yml.erb#L28 that doesn't appear to even be used by gorouter.  It uses `metron_address` https://github.com/cloudfoundry/gorouter/blob/master/config/config.go#L62 that appears to be defaulting to port 3457 which explains why gorouter is wor

[2016-04-19 22:53] youngm commented on #956
The end result is that if people set `metron_endpoint.port` to `3457` then that is a way to work around gorouter's default of `3456` accidentally being injected into other jobs.  Though I think there is more work to be done here than a simple template change.

[2016-04-19 23:20] Amit-PivotalLabs commented on #956
/cc @fraenkel @shalako @crhino @Jim-Campbell @wfernandes

[2016-04-20 01:21] wfernandes commented on #956
It looks like a property cleanup is needed here. Metron only listens on `localhost:3457`. Dropsonde should be initialized with this by default as can be seen [here](https://github.com/cloudfoundry/gorouter/blob/7cac97c84a0cc667406b1a04b99979e161b2b6fa/main.go#L70).

Even on Loggregator we feel that there are too many 'legacy' properties. We are taking steps to deprecate and remove unnecessary prop

[2016-04-20 23:25] shalako commented on #956
@Jim-Campbell @wfernandes is the takeaway that we can remove `metron_endpoint.port` from the gorouter spec? Anything else?

[2016-04-21 02:24] youngm commented on #956
@shalako I also noted that `dropsonde.enabled` and `metron_endpoint.dropsonde_port` both don't appear to do anything under my quick look.

[2016-04-21 02:30] youngm commented on #956
I also think a consistent name should be decided on for what port processes use when sending dropsonde messages to their local metron agent.

[2016-04-21 10:02] SimyungYang commented on #940
I finally figured out this problem. It was due to MTU size of CF.
From cf docs, when i use GRE tunneling in openstack, MTU size is recommended as 1454.
My environment has used vxlan, and CF works in 1450 or less MTU size.

I tested through the docker container on my openstack, and it also has the same problem.
So I googled about it and some guy said MTU may be the reason.

Thank you guys for help.

[2016-04-21 19:30] Amit-PivotalLabs commented on #954
@vfonsecapv just a heads up, we are planning on totally overhauling those docs.  You're right, they aren't great right now.  It's not ready yet, but you can take a peek at the tooling we're building to make the getting start experience much simpler: https://github.com/pivotal-cf-experimental/bosh-bootloader

[2016-04-22 09:01] jhiemer opened #959 "Consul ports missing for OpenStack in docs"
When deploying 234, we had problem with service discovery via consul. It turned out the changes regarding additional ports for UDP are not added to the documentation (http://docs.cloudfoundry.org/deploying/openstack/security_group.html). What we added was:

[code]

[2016-04-22 22:50] DennisDenuto commented on #959
Hi @jhiemer,
We are coincidentally refreshing our openstack environment. As such we will be revisiting our security group rules from our cf docs.

If we find we require ingress rules for consul we will update the docs accordingly.

[2016-04-24 15:46] SocalNick commented on #941
We try our best to make this easy and secure for OSS Cloud Foundry users. In this case, WebDAV is a better fit than nfs and we are trying to guide users in that direction. Unfortunately, we cannot guarantee the templates work for every custom deployment.

[2016-04-25 01:20] Amit-PivotalLabs commented on #956
Having the default 3457 coordinated in multiple different releases is problematic.  This can be solved more elegantly if the metron_agent job provides the port as a "link", and all these other jobs consume that link.  A shorter-term solution would be to remove the default from all the properties, and force the coordination into the manifest, just as we do with something like `nats.port` (4222).

F

[2016-04-25 01:20] #956 closed

[2016-04-25 03:52] youngm commented on #956
Perfect. Thanks @Amit-PivotalLabs

[2016-04-25 14:11] Jim-Campbell commented on #956
Loggregator is just finishing up a story
<https://www.pivotaltracker.com/story/show/117777777> to deprecate unused
properties.

On Sun, Apr 24, 2016 at 7:20 PM, Amit Gupta <notifications@github.com>
wrote:

--
Jim Campbell | Product Manager | Cloud Foundry | Pivotal.io | 303.618.0963

[2016-04-25 21:43] shalako commented on #956
@Jim-Campbell

The three ports @youngm mentioned are not listed in your story.
- `metron_endpoint.port`
- `dropsonde.enabled`
- `metron_endpoint.dropsonde_port`

Only one of these `metron_endpoint.dropsonde_port` is listed in the FAQ @wfernandes referenced.

This is quite confusing. Could you please point us at docs that indicate what the minimum list of properties we should expose in gorouter are

[2016-04-26 15:37] StanleyShen opened #961 "The http status text is changed"
Hello all

As I asked in community, it seems in somewhere the http status text are changed in CF.
You can see more information in this thread.

https://lists.cloudfoundry.org/archives/list/cf-dev@lists.cloudfoundry.org/thread/Z5AHLTDPUVC5ZI2KL3MD6OLZOW2SEV2L/

Can someone take a look on it?

[2016-05-05 18:07] shalako commented on #920
Hello @johnmcteague we have made this change. It will be included in the next version of cf-release.

[2016-05-05 18:07] #920 closed

[2016-05-14 00:59] cholick opened #964 "233 release notes & libmysqlclient warning"
The 233 release notes stacks section mentions "cflinuxfs2 has dropped support for libmysqlclient in favor of libmariadbd". This section should include a warning (or better yet, an item in the bulleted important section at the top) detailing the repercussions of the change and the required workaround for this version: the buildpack cache needs to be deleted and the app has to be restaged.

See list

[2016-05-14 01:44] Amit-PivotalLabs commented on #964
/cc @Dannyzen @jvshahid

[2016-05-14 02:10] jvshahid commented on #964
Afaik this isn't necessary. libmysqlclient.so files were  reintroduced to avoid restaging the applications or removing the cache. Old applications that link to libmysqlclient.so should continue to work. That said, new applications should be fine as long as they use mysql_config which is the case for rails and other frequently used libraries. /cc @flavorjones for more context. Apologies for any typ

[2016-05-14 02:21] cholick commented on #964
@jvshahid Right, but they were reintroduced in 234. I'm just suggesting adding a warning to the 233 release page since it's where the break happened. Anyone deploying 233 would have to look ahead to 234 and notice the issue.

[2016-05-15 02:12] Dannyzen commented on #964
Thanks Matt. We'll take a look early next week. We appreciate you bringing
this to our attention.
On May 13, 2016 10:21 PM, "Matt Cholick" <notifications@github.com> wrote:

[2016-05-16 13:05] flavorjones commented on #964
Agree, let's just make a short update to v233 release notes at https://github.com/cloudfoundry/cf-release/releases/tag/v233 to clarify, please.

[2016-05-17 14:51] Dannyzen commented on #964
I've added the following changes to the [release notes](https://github.com/cloudfoundry/cf-release/releases/tag/v233).
* v233 includes a [change in cflinuxfs2](https://github.com/cloudfoundry/stacks/releases/tag/1.45.0) that removes support for libmysqlclient in favor of libmariadb. This will require a clearing of buildpack cache and a restaging of apps for the changes to take place.

+1 for closu

[2016-05-18 11:55] #964 closed

[2016-05-18 14:47] robdimsdale commented on #961
There's been no activity on the mailing list for a week now so we will close this issue.

[2016-05-18 14:47] #961 closed

[2016-05-21 00:45] gwaines opened #967 "./scripts/generate-consul-certs fails 'undefined' errors @ cf release cf-236"
root@greg-VirtualBox:/my-bosh/cf/cf-release# pwd
/my-bosh/cf/cf-release
root@greg-VirtualBox:/my-bosh/cf/cf-release# ls releases/
cf          cf-141.yml  cf-147.yml  cf-153.yml  cf-159.yml  cf-166.yml  cf-173.yml  cf-180.yml  cf-189.yml  cf-195.yml  cf-201.yml  cf-207.yml  cf-213.yml  cf-220.yml  cf-226.yml  cf-232.yml
cf-136.yml  cf-142.yml  cf-148.yml  cf-154.yml  cf-160.yml  cf-168.yml  cf-175.

[2016-05-23 16:00] abtpst opened #968 "Cloudfoundry : Cannot push NodeJS app"
I am trying to push [Kibana](https://www.elastic.co/products/kibana) to a Cloud Foundry PaaS via cloudfoundry. At `cf push` I get this error

    Error uploading application.
    GetFileAttributesEx C:\Users\asd\qwe\zxc\installedPlugins\shield\node_modules\eslint\node_modules\file-entry-cache\node_modules\flat-cache\node_modules\del\node_modules\globby\node_modules\glob\node_modules\inflight\node_

[2016-05-24 00:04] dpb587-pivotal commented on #967
From [rwwohl](https://cloudfoundry.slack.com/team/rwwohl) via [#general](https://cloudfoundry.slack.com/archives/general/p1464037451000989)...

[2016-05-26 14:24] djjesseb opened #969 "Package 'nsync' has a glob that resolves to an empty file list"
Doing a local bosh-lite setup and during the "bosh create release --force" command I get the error:

Building nsync...
Package 'nsync' has a glob that resolves to an empty file list: capi-release/src/golang.org/x/crypto/curve25519/*.go

I checked that path on my system and it ends at "x" , after a fresh git pull.

I also downloaded the project as a zip, and it is empty at /x/crypto.

[2016-05-27 05:40] robdimsdale commented on #969
@djjesseb before you ran `bosh create release --force`, did you also run `./scripts/submodules`? That script will recursively fetch all the submodules, and will also mean your git status will be clean, hence no need for a `--force` flag in `bosh create release`.

Thanks,
Rob

[2016-05-27 15:00] djjesseb commented on #969
@robdimsdale Thanks for replying. I do not have a submodules script in scripts.
I did run ./scripts/update, but it failed on the troublesome module:

[code]

[2016-05-27 18:25] christianang commented on #967
You need at least go 1.4 to run certstrap to generate the certificates.

[2016-05-27 19:25] Amit-PivotalLabs commented on #968
Hi @abtpst

Is your problem specific to Bluemix?  If so, you may wish to reach out to their support, as this repository is for the open source Cloud Foundry project whereas Bluemix is IBM's proprietary offering of Cloud Foundry.

I suspect your issue is not Bluemix-specific, and in fact has more to do with the CLI than cf-release.  I would recommend opening an issue at https://github.com/cloudfoun

[2016-05-27 21:45] DennisDenuto commented on #969
Hi @djjesseb, We think this might be a network related issue as detailed in [this post] (https://confluence.atlassian.com/stashkb/git-clone-fails-error-rpc-failed-result-56-http-code-200-693897332.html).

You can try setting some git env variables to help debug the problem on your end:
[code]

If you believe this issue is not network related, let us know.

Thanks
Al & Dennis

[2016-06-03 16:46] barkerb1 opened #970 "Documentation out of sync"
As per issue 955, https://github.com/cloudfoundry/cf-release/issues/955, can you please update the documentation to include said changes - https://docs.cloudfoundry.org/deploying/common/deploy.html.

[2016-06-03 17:15] Amit-PivotalLabs commented on #970
Could you provide more detail?

[2016-06-03 17:32] barkerb1 commented on #970
Hi Amit,

As per issue #955, the default login api for the development environment was https://api.10.244.0.34.xip.io, however since an update it's now https://api.bosh-lite.com.  It would be great if the documentation could outline the default routes.  Additionally when I run a bosh vms command I'm getting a different set of VMs than in the documentation as well.

Ideally someone might want to go

[2016-06-03 17:39] JesseTAlford commented on #969
As it's been a week and we haven't heard anything further, we're closing this issue.

Please feel free to open another issue if this is still a problem.

[2016-06-03 17:39] #969 closed

[2016-06-03 18:02] Amit-PivotalLabs commented on #970
Hi Brad,

The docs assume you're following this workflow:

http://docs.cloudfoundry.org/deploying/boshlite/

Before the doc you linked to, it's assumed you followed
http://docs.cloudfoundry.org/deploying/boshlite/create_a_manifest.html, which
states:

*If you deploy BOSH Lite to an AWS Vagrant VM, you must specify a system
domain in a manifest stub. If you are deploying to a local Vagrant VM this

[2016-06-03 18:18] barkerb1 commented on #970
Ah ok, it looks like that section precedes this one-
https://docs.cloudfoundry.org/deploying/common/deploy.html

Would it be possible to either reference back to create_a_manifest page or reiterate the routes in step 2 under "Verify the deployment"?

[2016-06-06 06:27] bingosummer opened #971 "Fail to create a service auth token"
I used `cf-release 231` and failed to create a service auth token with the following error.

Is `/v2/service_auth_tokens` API deprecated? Or is it an issue of my deployment?

[code]

[code]

[2016-06-06 08:06] Infra-Red commented on #971
@bingosummer Hi!
Support for v1 service brokers API was removed in CF v228 release. Refer to the following [link](https://www.pivotaltracker.com/n/projects/966314/stories/109473598) for details.

[2016-06-06 08:09] bingosummer commented on #971
@Infra-Red
Thanks for your confirmation. This will save me a lot of time.

[2016-06-06 08:09] #971 closed

[2016-06-06 18:09] zankich commented on #967
@gwaines closing due to inactivity. If you have any further issues, please open a new issue.

[2016-06-06 18:09] #967 closed

[2016-06-07 03:25] mmb opened #972 "Make it easier to reproduce CATs errand run"
We run CATs using the BOSH errand in our Concourse pipelines. Sometimes there are failures and we want to run individual CATs from our workstation by focusing tests. Two things make this time consuming:

1) Figuring out what commit of CATs to use - could the CATs errand print out the cf-acceptance-tests commit SHA at the beginning of every run?

2) Building the config.json - to replicate the test

[2016-06-07 18:04] abtpst opened #974 "Cannot deploy Kibana as NodeJS application when Shield plugin is enabled"
I am trying to deploy Kibana on bluemix PaaS.

https://www.elastic.co/downloads/kibana

Since Kibana is a NodeJs application, it can be deployed as such on bluemix. All i have to do is

1. Provide a simple `manifest.yml` file that details the app name and a couple of other things

2. Provide a `Procfile` which has just one line as `web: bin/kibana --port=$PORT`

and thus i can run Kibana on bluemi

[2016-06-08 02:08] StanleyShen commented on #961
We are moving to use docker image, the issue is still there.

[2016-06-08 15:41] srinat999 opened #975 "Error 100: Job 'nats' not found in Template table"
I am getting this error when trying to do bosh deploy. I am following the instructions given here -> http://docs.cloudfoundry.org/deploying/openstack/index.html for deploying CF on Openstack

Not sure if this is the right forum to ask this. If not, do let me know where I can get a solution for this. Here is the full stack trace of the error:

[code]

Here is a relevant message from bosh task 24 --

[2016-06-08 19:58] Amit-PivotalLabs commented on #968
Closing due to inactivity.

[2016-06-08 19:58] #968 closed

[2016-06-08 20:00] Amit-PivotalLabs commented on #974
@fraenkel @sykesm @DanLavine Here's a question about Bluemix on the cf-release repo which you may wish to take a look at.

[2016-06-08 22:23] fraenkel commented on #974
If you have a technical problem or question with Bluemix, please use the supported mechanisms.
See https://developer.ibm.com/bluemix/support/

[2016-06-08 22:23] #974 closed

[2016-06-09 16:38] dsabeti commented on #975
Hi @srinat999,

We can definitely help. First, some questions to help us diagnose:
1. What version of cf-release are you trying to deploy? (A git commit SHA or final release version like `v237` will help)
2. Did you pull in all the submodules of cf-release? If you look at the [the instructions here](http://docs.cloudfoundry.org/deploying/common/create_a_manifest.html#generate-manifest), you'll see

[2016-06-11 01:40] betht1220 opened #977 "cf 237 error"
I've installed cf-237 on mac with Virtualbox/Vagrant.  'bosh vms' returns 13 vms, but I cannot log in

cf login -a https://api.10.244.0.34.xip.io -u admin -p admin --skip-ssl-validation
API endpoint: https://api.10.244.0.34.xip.io
FAILED
Server error, status code: 404, error code: 0, message:

[2016-06-11 19:44] Infra-Red commented on #977
Hi @betht1220 !
Could you please share property `system_domain` from `templates/cf-infrastructure-bosh-lite.yml` file in your cf-release folder. Perhaps you use a wrong link for targeting API endpoint from CF CLI.

[2016-06-11 22:14] ScarletTanager commented on #977
Have you tried using `api.bosh-lite.com` as your API endpoint yet?  If not, I suggest retrying with that.  This was changed a while back, but I don't remember in which release.

[2016-06-11 22:57] betht1220 commented on #977
Thanks ScarletTanager - using api.bosh-lite.com works.  Thanks also to Infra-Red for taking the time.

[2016-06-11 22:57] #977 closed

[2016-06-12 03:45] Amit-PivotalLabs commented on #972
Hi @mmb

The `acceptance-tests` package in `cf-release` doesn't include any `.git` stuff, and also doesn't contain the `git` binary, so I can't think of a clean way to have the CATS print out its commit SHA.  If the `cf-release` repo is being threaded through your pipeline when you're running CATS, it should be easy to see the SHA of `cf-release`, and then not too hard from there to find the appro

[2016-06-13 23:35] Amit-PivotalLabs commented on #970
PR to docs has been merged, closing this issue.

[2016-06-13 23:35] #970 closed

[2016-06-13 23:36] Amit-PivotalLabs commented on #972
@mmb

I think the above addresses this issue, closing it out for now.  Let me know if you have any follow up questions.

[2016-06-13 23:36] #972 closed

[2016-06-14 14:23] srinat999 commented on #975
Hi David,

Here are my answers.
1. I am installing v236
2. Yes, I did do ./scripts/update
3. Here is the cf-stub that I used to generate the deployment YAML. [cf-stub-cropped.txt](https://github.com/cloudfoundry/cf-release/files/314143/cf-stub-cropped.txt)

Also, I did do bosh create release --force instead of a normal create release. Is that a problem?

Thanks
Sreenath

[2016-06-14 21:11] DennisDenuto commented on #975
Hi @srinat999,

Are you using `--force` because of changes you made locally to cf-release? If so, can you remove any secrets you may have from the output of `git diff > patch.txt` and upload the resulting file so we can take a look at it. Can you also show us the output of `git submodule`?

This sounds like you are missing the nats job from the release. Can you `ls src/nats-release` and confirm it

[2016-06-15 13:56] srinat999 commented on #975
Hi,

Thanks for the response. I did manage to fix the issue. The reason was the --force that I had used as I had some local changes. I did a fresh checkout of the repo and started all over and it worked.

However, I am facing a different issue now while doing bosh deploy.

[code]
A look at the logs for api_z1/0 at /var/vcap/sys/log/cloud_controller_ng/cloud_controller_ng_ctl.log shows multiple occ

[2016-06-15 21:01] APShirley commented on #975
Hi @srinat999,

Your blobstore config doesn't seem to have anything wrong with it from looking at the manifest. Can you please post a more complete output of the logs for that task using `bosh task 121 --debug` to help us identify the issue?

Also, when you were pinging the blobstore vm were you using the private address of the webdav server specified in cc config section of the manifest i.e. `pri

[2016-06-15 22:25] srinat999 commented on #975
Hi Alvaro,

Here is the last few lines of the debug call

[code]
I was only able to ping the ip of the blobstore vm (i.e. 30.0.0.102, from the bosh vms call) from api machine. A ping on ```blobstore.service.cf.internal``` fails as its not able to resolve the address.

Thanks for the heads up on the access rules, could you tell me how to include that in deployment manifest? I could not find any fie

[2016-06-16 04:38] gkenaley opened #981 "Unable to push apps to OpenStack in CF v237/Stemcell 3232.4: Unknown Error"
I am a CF newbie that has been working with Amit Gupta to get CF v237 running apps on OpenStack [(mailing list discussion)](https://lists.cloudfoundry.org/archives/list/cf-bosh@lists.cloudfoundry.org/thread/R7643ALWY6M7PTJ3YATOOC465KKPZZ3Z/).

I started with the v237-provided reference `cf-deployment.yml`. After adding a `consul` process to `api_z1`, hacking up the deployment manifest to remove al

[2016-06-16 09:34] gkenaley commented on #981
I made a little more progress with the slightly-revised attached cf-deployment.yml.staging_error.txt:

[cf-deployment.yml.staging_error.txt](https://github.com/cloudfoundry/cf-release/files/318085/cf-deployment.yml.staging_error.txt)

$ cf push fib
Using manifest file /home/demo/cf-release/fib/manifest.yml

Creating app fib in org tis-org / space qa as admin...
OK

Creating route fib.app.cf.cf-dom

[2016-06-16 16:11] Oskoss commented on #887
We are having the exact same issue. How did you guys get this working?

Our log on CC has this error:
[code]

[2016-06-17 08:15] Amit-PivotalLabs commented on #981
The [docs for deploying CF](http://docs.cloudfoundry.org/deploying/index.html) on [OpenStack](http://docs.cloudfoundry.org/deploying/openstack/index.html) outline some [security group requirements](http://docs.cloudfoundry.org/deploying/openstack/security_group.html).  In particular, you will need to make sure ingress TCP traffic to port 4443 of the floating IP allocated to the HA Proxy is permitt

[2016-06-17 08:21] Amit-PivotalLabs commented on #981
Try increasing your DEAs' advertised resources with increasing some parameters in the `dea_next` section of the `properties` section of the manifest:

[code]

These properties apply to the `dea_next` processes running on the `runner_zN` instances, so you'll have to make sure those instances are big enough (currently they're `m1.large`s).

[2016-06-17 18:32] APShirley commented on #975
Hi @srinat999,
The fields I mentioned are overwrites you need to add to the manifest in the properties under the blobstore section you need to add:
[code]
As for the address not resolving, this is probably an issue with consul. Can you please ssh onto the consul job and check to see if there is anything unusual in the logs? (`/var/vcap/sys/log/consul/*`) If so can you copy them over to here? Could

[2016-06-17 18:58] kkallday commented on #975
Hi @srinat999,

I looked through the manifest you posted above and noticed that the job `api_z1` is missing a `consul_agent` template reference. This is why the `api_z1` job is failing and why the blobstore cannot be resolved via `blobstore.service.cf.internal`.

To fix this, under the `templates` array in `api_z1`, add the following:

[code]

Hope this fixes your issue.

cc @christianang

[2016-06-18 08:07] gkenaley commented on #981
Amit,

I increased the DEA's resources and the VM disk sizes, and also made a few other changes to the attached deployment manifest. I checked the security group for CF and made it more restrictive to exactly match the link you sent above (again). I also shutdown the entire system (including bosh) and restarted the entire cluster.

I also noticed that (following some tutorial) I am using a differe

[2016-06-18 08:25] gkenaley commented on #981
**To clarify 2 cases:**

**CASE 1:**
cf push tutorial
   "staging_failed_reason": "NoAppDetectedError",
    "staging_failed_description": "An app was not successfully detected by any available buildpack",
FAILED
Error restarting application: NoAppDetectedError

**CASE 2:**
cf push tutorial -b https://github.com/cloudfoundry/ruby_buildpack.git
    "staging_failed_reason": "StagerError",
    "stagin

[2016-06-18 11:56] tomsherrod commented on #981
Case 1: I can't tell enough about the app/files to help with that one.
Case 2: the -b url is incorrect. needs a - instead _ in the url.

Suggestion:
git clone https://github.com/cloudfoundry-samples/cf-sample-app-rails
cd cf-sample-app-rails
cf push

If staging error again, I believe the logs on api_z, cloud controller will tell you what's happening, if not check logs on dea. (It's been a while si

[2016-06-18 16:56] gkenaley commented on #981
**[cf-deployment.yml.025.txt](https://github.com/cloudfoundry/cf-release/files/321857/cf-deployment.yml.025.txt)**

Thanks, Tom.
The -a is already set by:
 cf login --skip-ssl-validation  -a http://api.system.cf.cf-domain.com  -u admin  -p admin
The -b feeds it an alternate buildpack (since it was complaining about buildpacks), but it didn't help.

I tried pushing the sample-app-rails and it just

[2016-06-19 11:29] srinat999 commented on #975
Hi,

Thanks for the fixes. The deployment went through fine with the above changes. The result of ```bosh vms``` shows all vms as running.

Going forward, however, I'm not able to login using the CF cli. Here are the detailed logs after setting the CF_TRACE=true

[code]
I created a new admin user using the UAA CLI, and even the cf login didnt work with that user. However, the user creation and oth

[2016-06-20 06:35] gkenaley commented on #981
**[cf-deployment.yml.026.txt](https://github.com/cloudfoundry/cf-release/files/322808/cf-deployment.yml.026.txt)**

So I rebuilt the entire bosh director and cf using the latest stemcell and cpi.
I also combined the cf and bosh security groups into a single "cf-bosh" and double-checked it.
I made all the VMs larger (especially the disk space).
Finally I launched 3 apps and looked at the logs on VM

[2016-06-20 09:22] cklause commented on #981
Hi,

I also did a CF installation on top of Kilo. I also have staging issues, but it sometimes works.

Could you try adding a UDP all rule for the CF security group?

| Ingress | IPv4 | UDP | - | cf (Security Gp) |

[2016-06-20 09:47] cklause opened #982 "miekg dns git submodule not proxy friendly"
Hi,

all git submodules are referenced via https except 'vendor/github.com/miekg/dns' in 'src/etcd-release/src/etcd-dns-checker/.gitmodules'. Changing this from git:// to https:// would make the 'scripts/update' step more http proxy friendly.

[2016-06-20 10:11] rphukan opened #983 "Time out in downloading python-buildpack blob while provisioning cloud foundry on bosh lite"
I have been trying to provisioning cloud foundry on bosh lite. For that I am following the steps below
1. start bosh vm
2. login to bosh as admin
3. run the cloud foundry provision scripts
./bin/add-route
./bin/provision_cf
but every time it  breaks with below trace while running the provision script

[code]
Initially I thought it to be a network issue and tried several times but  without success.

[2016-06-20 21:38] swetharepakula opened #984 "scripts/generate-etcd-certs uses incorrect domain"
The scripts/generate-etcd-certs uses the domain "etcd.service.consul", but it should be "etcd.service.cf.internal".

Thanks,
@swetharepakula & @DanLavine

[2016-06-21 08:54] frantisek121 opened #985 "Error 400007: 'api_z1/0 is not running after update."
Hello,

I am trying to deploy CF on OpenStack kilo. I tried:

* bosh stemcell 3232.4, then I tried 3147 (because I have found that this version was working for someone with similar problem)
* bosh 256.2
* bosh-openstack-cpi 24

I am getting:

[code]

I have DNS server in my project, but it seems to me it works fine.

On failing api server:

[code]

I did check logs `/var/vcap/sys/log/cloud_control

[2016-06-21 09:37] jleavers commented on #985
Re: consul - have you seen this page?
https://docs.cloudfoundry.org/deploying/common/consul-security.html

This should help with the format - as shown you need to paste in the
contents of the certificate files, and provide an arbitrary value for the
encrypt_keys property.

On 21 June 2016 at 09:54:56, frantisek121 (notifications@github.com) wrote:

Hello,
I am trying to deploy cf on openstack kilo

[2016-06-21 11:37] frantisek121 commented on #985
Hi,

thank you for fast answer. Yes, I have seen it. However if you check that page or links from there like  https://github.com/square/certstrap or https://github.com/cloudfoundry/cf-release then you will see there is no info regarding "arbitrary value for the encrypt_keys property".

I see in https://github.com/cloudfoundry/cf-release/blob/master/scripts/generate-consul-certs
certstrap --depot-p

[2016-06-21 15:03] graememross opened #986 "Internal Server error, status code 500 returned when trying to create orgs"
We have been seting up a cloud foundry ecosystem based on internal OpenStack hardware.

We have installed cloud foundry on the openstack system following the instructions at https://docs.cloudfoundry.org/deploying/openstack/index.html and everything seems to be working

We used the latest HEAD on master (as of about a week ago)

I can do a curl on the api info endpoint and it returns information a

[2016-06-21 15:51] srinat999 commented on #975
OK. So I was able to proceed further.

Based on the discussion here -> http://cf-dev.70369.x6.nabble.com/cf-dev-Reg-the-upgrade-from-cf-205-to-cf-231-td4219.html
I changed ```uaa.require_https=false``` and the login worked. Now I have a different error, not able to create or query the orgs. Here is the debug trace

[code]
Do let me know if you guys need any more logs to debug this. Any help is app

[2016-06-22 06:38] Amit-PivotalLabs commented on #985
The line

[code]

is nothing to worry about, it's just running a pre-start check that the domains don't overlap.  You're fine, `sys.domain.com` and `app.domain.com` are considered valid for CC.

Your problem may be that the blobstore is unreachable, because CC may be expecting to reach the Blobstore via **internal** DNS managed by Consul, not your own DNS servers.  For this to work, the cloud cont

[2016-06-22 07:54] frantisek121 commented on #985
Yes, removing those lines helped, thank you. Can I do deployment without them, or will I miss some features/functionalities?

[2016-06-22 09:21] srinat999 commented on #986
#975. Hey, I am also facing a similar issue. Did you manage to fix it?

You could set CF_TRACE=true and see the HTTP requests that are going through

[2016-06-22 09:48] graememross commented on #986
No solution yet. I had set the -v flag but there wasn't enything useful reported

for completness here is the command with CF_TRACE set
[code]

As you can see there is nothing informative here.

[2016-06-22 12:26] srinat999 commented on #986
Hey, I maanged to fix this issue (only to run into another:()

The fix for me was to use PEM encoded keys for jwt signing and verification.
[code]
Copy the private key to ```jwt.signing_key`` and the PEM public key to ```jwt.verification_key```

Hope that helps!

[2016-06-22 12:38] srinat999 commented on #975
Update:

So I managed to fix the org issue, the reason was the jwt keys. I had used normal ssh-keygen keys there. Changed that to pem encoded keys and it works now. However I now have a different issue (Yes! this seems to be a never ending loop!)

I am not able to push an app. Here is the last relevant request that fails:

[code]
Looking at the cloud_controller_ng.log in api_z1 this is what I find

[2016-06-22 13:04] srinat999 commented on #975
Here are some logs from blobstore vm

[code]
Clearly shows a problem with the connection to blobstore. Any pointers?

[2016-06-22 15:29] graememross commented on #986
That fixed it we had a typo in  the PEM keys.

Could I suggest that we have some sort of reasonable error message that would help in this situation.

[2016-06-22 15:29] #986 closed

[2016-06-22 16:11] srinat999 commented on #975
OK. So after a lot of struggle I finally managed to get CF up and running on Openstack and I am able to login. However, I cannot push any apps:

[code]

I looked into the relevant logs in dea_next under the runner VM and here is what I could find

[code]

As you can see its not able to resolve the CC while trying to upload the droplet. This is really confusing. Because I am able to curl into that

[2016-06-22 16:11] #975 closed

[2016-06-22 16:14] srinat999 opened #990 "cf-push returns "Error restarting application: StagingError""
So I have been trying to set up CF on Openstack and have been facing many issues as mentioned #975. Just thought of creating a new issue as I have come a long way from when I started that issue.

After a lot of struggle I finally managed to get CF up and running on Openstack and I am able to login. However, I cannot push any apps:

[code]

I looked into the relevant logs in dea_next under the runn

[2016-06-22 17:05] christianang commented on #984
Hi @swetharepakula,

I have updated the script to use cf.internal.

Thanks for the feedback.

-Christian

[2016-06-22 17:29] swetharepakula commented on #984
Thanks!

[2016-06-22 17:29] #984 closed

[2016-06-22 22:56] APShirley commented on #983
Hi @rphukan,
Could you start by telling us what version/branch of CF you are deploying off of?
We just attempted this with master on a clean clone of cf-release & bosh-lite and it worked fine.
Thanks,
Al

[2016-06-23 04:44] Amit-PivotalLabs commented on #985
Nope, you should be fine.  Those stubs are out of date, we are waiting for one of our OpenStack test environments to be able to run CI against the OpenStack test stub.  I'll close out this issue for now, feel free to open a new one if you have further issues.

[2016-06-23 04:44] #985 closed

[2016-06-23 04:50] Amit-PivotalLabs commented on #981
Hi @gkenaley

I'm unable to follow this much change and output.  Can I request that you:

a) Use GitHub markdown syntax to format your log dumps so it's easier to read.  This helps people to help you.
b) Please don't delete or power off every single VM and then redeploy or reboot.  If there is a logical error, like "An app was not successfully detected by any available buildpack", then rebooting t

[2016-06-23 04:58] Amit-PivotalLabs commented on #986
Did you folks both happen to have typos in your PEM keys, or did some documentation lead you astray?

[2016-06-23 06:10] gkenaley commented on #981
Thanks, Amit - I will work on the items that you mention. I can probably make a very solid OpenStack Kilo system available for your remote use, if you need one.

I am still stuck at the final stage of pushing an app (staging) - it times out with the app being "requested to start", but not started.
For the last several days I was trying to merge in changes from "cf-deployment-single-az.yml" in this

[2016-06-23 08:31] graememross commented on #986
The wrong key was generated (in our case).

It would be better if there was some sort of logged message rather than an ambiguous "Internal Server Error"

Putting a message in the internal log files saying something like "JWT keys do not match" or "JWT Authorization error" would have saved a lot of time as we would have known to look at the keys.

As it was we weren't sure if we had somehow corrupt

[2016-06-23 17:07] Amit-PivotalLabs commented on #986
@graememross that sounds pretty sensible.  The component that gets the key pair, and could validate that they match, is the UAA.  I would recommend opening an [issue on the uaa-release repo](https://github.com/cloudfoundry/uaa-release/issues) with some details about what input you had, what error you saw, and what error message you'd like to see.

Cheers,
Amit

[2016-06-23 23:11] DennisDenuto commented on #990
Hey @srinat999
The fact you were able to perform a nslookup from the dea to the cc is rather strange.

Did you try staging 'test-app' after you were able to perform the nslookup from the dea?

Also we suspect that maybe the dns resolution (via consul) to cc is flakey. Can you please run the following command and provide us the output from `/tmp/nslookup.log`:

[code]

Thanks
Dennis && @dsabeti
CF

[2016-06-24 17:32] gkenaley commented on #981
I rebuilt the deployment with a true public floating IP address range, relaxed UDP security rules, and without commenting out restricted_ips_regex. The cf push error results are unchanged - "app fails to stage in 15 minutes".

**[cf-deployment.yml.033.txt](https://github.com/cloudfoundry/cf-release/files/332174/cf-deployment.yml.033.txt)**

I do notice in the quota print-out below that the number

[2016-06-25 08:46] rphukan commented on #983
Hi
Thanks for looking into it. I am also on master branch of both cf-release and bosh-lite. I tried it again today with the latest code but still getting the same error. Here are some other details.
1. BOSH 1.3215.3.0
2. with latest vagrant box 'cloudfoundry/bosh-lite'
3. Stemcell
Name:    bosh-warden-boshlite-ubuntu-trusty-go_agent
Version: 3147
Thanks
Ranjan

[2016-06-27 07:52] gkenaley opened #991 "CF v237/3232.8 OpenStack DEA Staging Error "cflinuxfs2: No such file or directory""
I have setup my first Cloud Foundry cluster, using 5 OpenStack compute nodes with 1TB RAM and 8TB SSD storage. I am following the CF setup documentation, but have increased the size of the VMs to avoid memory issues. I am using the `cf-rails` and `fib` sample applications, _but have never gotten an application to successfully stage._

I have attached my [latest deployment manifest](https://github.

[2016-06-27 13:38] cpraveen412 opened #992 "Error filling in template 'dea.yml.erb' (line 95: bad component(expected user component)"
Could anyone help me on this?

Error 100: Unable to render instance groups for deployment. Errors are:
   - Unable to render jobs for instance group 'runner_z1'. Errors are:
     - Unable to render templates for job 'dea_next'. Errors are:
       - Error filling in template 'dea.yml.erb' (line 95: bad component(expected user component):

[2016-06-27 14:54] allomov commented on #992
hey @cpraveen412.

1. it would be nice if you tell what version of cf-release do you use. it would be also helpful if you provide your deployment manifest properties.
1. not long ago cf-release was decoupled in several different releases. `dea.yml.erb` is placed to [cloudfoundry/dea-hm-workspace](https://github.com/cloudfoundry/dea-hm-workspace) release, this project seems a better place to create

[2016-06-27 17:15] dcarissi opened #993 "Consul server cert needs a specific CN setting"
I'm trying to create my own ca/crt/key files for consul and eventually HM9000, DEA and UAA.  It looks to me like the consul server.crt file needs a specific setting of CN=server.dc1.cf.internal .  I can't find any documentation on why this is or how the code checks for this particular string.

Can someone please point me to the correct docs or provide an answer here?
Thanks

ps. I've tried the Clo

[2016-06-27 17:43] haydonryan opened #994 "HAProxy logging needs to be improved / exist."
Currently when deploying, haproxy doesn't log any error messages out to /var/vcap/sys/log/haproxy.

For example, on a customer site, we had an issue where they had an invalid private key listed in the PEM.  This was only discovered after manually starting the haproxy job, and observing the output.

[2016-06-27 17:59] cppforlife commented on #992
@cpraveen412 Looks like your internal_api_password has chars that are not allowed for basic auth:

[code]

[2016-06-27 18:24] Amit-PivotalLabs commented on #994
Thanks @haydonryan

I'll let the routing team know about this issue. /cc @shalako @crhino

[2016-06-27 19:20] zankich commented on #993
The CN requirements for your server certificate are a combination of your [datacenter](https://github.com/cloudfoundry-incubator/consul-release/blob/master/jobs/consul_agent/spec#L36) and your [domain](https://github.com/cloudfoundry-incubator/consul-release/blob/master/jobs/consul_agent/spec#L48).

The consul documentation for [TLS encryption](https://www.consul.io/docs/agent/encryption.html) sta

[2016-06-27 19:52] dcarissi commented on #993
Thanks for the reply.  Follow up question, are there similar requirements for HM9000, DEA and UAA??
I noticed that the dea server certificate has Subject: CN=dea.service.cf.internal, HM9000 server certificate has Subject: CN=listener-hm9000.service.cf.internal .... so are those also required??

[2016-06-27 19:57] cpraveen412 commented on #992
Yes I used "@" in the password. I changed it and started deploying without error.

Thank you

[2016-06-27 19:57] #992 closed

[2016-06-27 20:48] zankich commented on #993
Yes those are required because those components use consul internally for service discovery, using the same scheme which was used to configure the consul servers.

When a job registers a service with consul, it follows the format `<service-name>.service.<consul domain>`. In the case of DEA it is `dea.service.cf.internal`. So if you want to sign a certificate for an internal API server, it needs to

[2016-06-27 21:00] zankich commented on #993
@dcarissi added a note in the consul README about common name requirements, https://github.com/cloudfoundry-incubator/consul-release/commit/c199f9ede829be8830cab588f745558d43d405eb

[2016-06-27 22:25] zankich commented on #993
If you have any further questions please feel free to ask.

[2016-06-27 22:25] #993 closed

[2016-06-28 11:25] srinat999 commented on #990
Hey, Thanks for the reply. Sorry for not responding earlier, as I am working on this only 2 days a week.

I managed to get this working. The problem was my CF public API (api.sys-cfisbtest.it-platforms.net) endpoint was not reacheble from the dea VM as I am under a proxy. Added a direct to mapping to that and it worked.

I also managed to push this app (https://github.com/cloudfoundry-samples/test

[2016-06-28 12:23] YuPengZTE opened #996 "Issue with metron_agent/loggregator"
{"timestamp":1467114903.152345896,"process_id":2874,"source":"metron","log_level":"error","message":"Finder: Watch sent an error","data":{"error":"store request timed out"},"file":"/var/vcap/data/compile/metron_agent/loggregator/src/doppler/dopplerservice/finder.go","line":139,"method":"doppler/dopplerservice.(*Finder).run"}

[2016-06-28 18:24] Amit-PivotalLabs commented on #996
Hi @YuPengZTE

Is there something you would like help with?

[2016-06-29 01:20] APShirley commented on #983
Hi @rphukan

That is strange. Can you let us know the following:

1) Is the error consistently failing to download `python-buildpack/python_buildpack-cached-` or is it a different blob every time?

2) Can you try `wget http://cf-release-blobs.s3.amazonaws.com/cd1d3598-ff44-4752-9826-0fb80223ff95` to see if you can successfully download the buildpack manually? If this works, you can fetch the sha f

[2016-06-29 06:44] Amit-PivotalLabs commented on #981
Hi @gkenaley

I'm unable to follow this much change and output. Can I request that you:

a) Use GitHub markdown syntax to format your log dumps so it's easier to read. This helps people to help you.
b) Please don't delete or power off every single VM and then redeploy or reboot. If there is a logical error, like "An app was not successfully detected by any available buildpack", then rebooting the

[2016-06-29 06:58] gkenaley commented on #981
Hi Amit,

I have moved on from here and posted an improved description/debugging method of a later [https://github.com/cloudfoundry/cf-release/issues/991](url)
It's a really strange cflinuxfs2 problem I could really use some help with. I have tried to build custom buildpacks and stacks to work around it, with no success.

Also I have found that when you don't re-deploy, some changes seem to work u

[2016-06-29 07:05] Amit-PivotalLabs commented on #981
Thanks Gary, I'll close out this issue and respond to your question over there.

[2016-06-29 07:05] #981 closed

[2016-06-29 07:18] Amit-PivotalLabs commented on #991
I see a few things.

First of all, the fact that it hangs at "Uploading droplet" jives with the dea_next logs on the runner VMs, where you see the `em-upload.error` and `Errno::ETIMEDOUT`.  The log line is a bit misleading.  It says the `destination` is http://cloud-controller-ng.service.cf.internal:9022/staging/droplets/f3060397-9ba4-4c4b-b077-9e501ba7a6e8/upload.  That's the destination for the

[2016-06-29 07:22] Amit-PivotalLabs commented on #991
By the way, thanks for all this detailed investigation and providing the information.  One thing that may help (in addition to using the Markdown formatting I've mentioned elsewhere, especially for log or terminal output) is if you can provide links to any documentation or examples you reference.  You've mentioned:

* CF setup documentation
* cf-rails sample application
* fib sample application

S

[2016-06-29 07:59] gkenaley commented on #991
Thanks, Amit.

Our OpenStack system does not by default allow a VM to access its own floating IP.
So ha_proxy could not access its own floating IP 128.224.250.10:80. But all the other VMs should be able to access it. Looks like I need to investigate this thoroughly.
Is there some definitive test I can run?
The following test result looks bad, although the fresh deployment is currently hung forever

[2016-06-29 08:07] Amit-PivotalLabs commented on #991
I'm not a networking expert, so I'm not sure the best way to fix your problem, but you'll definitely need to be able to make TCP connections from your internal VMs to your floating IP.  I'm not familiar with OpenStack but I'm more familiar with AWS.  The issue you're seeing seems similar to things I've seen on AWS when you have a misbehaving NAT which is used between your private and public subnet

[2016-06-29 10:11] srinat999 commented on #981
Hey Gary,

I'm also facing the timeout issue while staging? How did you managed to fix it?

Thanks
Sreenath

[2016-06-29 14:21] gkenaley commented on #991
I will try to develop a workaround for the floating IP access problem.

This is the problem using a single OpenStack virtual router, according to a networking expert:

"The issue here is that you have 2 different VM instances behind the same router and instead of using their private addresses (since they are on the same network) they are trying to use their floating IP addresses.  Because of how f

[2016-06-29 14:53] gkenaley commented on #981
Sreenath,

I am still having a timeout during staging when the droplet tries to upload.
I posted the full deployment manifest, which you can compare with yours:
https://github.com/cloudfoundry/cf-release/issues/991

We think my timeout is due to the VMs in my OpenStack system being unable to access the floating IP address of the ha_proxy.
If your system has the same limitation, this could also be

[2016-06-29 15:23] Amit-PivotalLabs commented on #982
This should now be fixed on the master branch.

[2016-06-29 15:23] #982 closed

[2016-06-29 21:46] DennisDenuto commented on #990
Hi @srinat999

Are you able to provide the logs from: `cf logs spring-music --recent`?

Based on the staging output, It looks like you were unable to reach the `traffic controller server`. Specifically the machine on which you ran the staging command: `cf push -b https://github.com/cloudfoundry/java-buildpack.git` needs to be able to talk to  the `traffic controller server`

We think this might be

[2016-06-30 07:57] gkenaley commented on #991
I tried this temporary workaround: executing the following command on all 16 CF VMs, the bosh director VM, and the Ubuntu host PC. It maps the ha_proxy floating IP back to its private IP for this lab test setup.
[https://ask.openstack.org/en/question/454/cannot-reach-floating-ip-from-vm/](url)

**echo '192.168.240.125 128.224.250.10' >> /etc/hosts**

On the next "cf push" after clearing the logs,

[2016-06-30 08:59] YuPengZTE opened #998 "Errors when bosh create release"
[code]

[2016-06-30 15:30] sreenani commented on #994
Haproxy startup error log is location here /var/vcap/sys/log/monit/haproxy.err.log

[2016-06-30 23:44] #996 closed

[2016-06-30 23:47] Amit-PivotalLabs commented on #998
Hi @YuPengZTE

This is a known issue with the `bosh` CLI.  I will migrate your issue to the BOSH repository.

Best,
Amit

[2016-06-30 23:47] #998 closed

[2016-07-01 10:41] alext opened #999 "Could we have release notes for v238 please"
Hi,

There was an [announcement on the mailing list](https://lists.cloudfoundry.org/archives/list/cf-dev@lists.cloudfoundry.org/thread/WMTZBIH5U7DTOOX2SNRVTPQI3U2AINOB/) that we should upgrade to 238 to fix a CVE. This is difficult to do without release notes as it's not clear what the significant changes are. It's also not clear which version of Diego should be used with this release.

thanks,
Al

[2016-07-01 19:36] Amit-PivotalLabs commented on #999
Sorry for the delay.  Notes have been published.  We discussed this delay as a pain point at yesterday's [Runtime PMC](https://github.com/cloudfoundry/pmc-notes/tree/master/Runtime) meeting and [updated our process](https://github.com/cloudfoundry/runtime-ci/commit/2df5706433d9e37036690568473c7e0a57f57b8b) to be more timely about the notes.

[2016-07-01 19:36] #999 closed

[2016-07-05 03:20] gossion opened #1001 "Fail to deploy a CF v238 on single node"
we have a simple template which has all jobs running on a single node for some test purpose. The template was deployed  successfully in previous version of cf release, however, in the latest cf release v238, we got the error saying that it fail to pre-start cloud_controller_ng.

[code]

From /var/vcap/sys/log/cloud_controller_ng/pre-start.stderr.log, I saw the error like this:
[code]
Looks like cl

[2016-07-05 07:19] gossion commented on #1001
And another question is: it is a new deployment, why it need to perform_migration?
Thank you.

[2016-07-05 11:13] omazhary opened #1002 "Started Instances reported incorrectly"
After running acceptance tests, it intermittently occurs that the number of instances for an app are reported as ```?``` instead of an actual number:
[code]
So far, the current workaround used is to simply restart the consul_agent on a malfunctioning hm9000 node running. However, it is not still clear why it is malfunctioning.

[2016-07-05 14:49] ZiedZinelabidine opened #1003 "Staging failed: Buildpack compilation step failed : No such file or directory - /home/vcap/tmp/httpd-2.4.20.tar.gz"
My cloudfoundry didn't find the folder:

[code]

I use php_buildpack-cached-v4.3.14.zip.  My manifest:

[code]

options.json :+1:

[code]

httpd.conf :+1:

[code]

[2016-07-05 14:51] ZiedZinelabidine commented on #1003
LOGS :
 OUT Installing HTTPD
2016-07-05T16:42:29.56+0200 [STG/0]      ERR 2016-07-05 14:42:29,567 [DEBUG] utils - line #41 in /var/vcap/data/dea_next/admin_buildpacks/f6fb70a3-e9c4-43a0-930d-b4237d97f8bb_ffd60ef08f4328b70d1ca1aa06a639dbb251e73a/lib/httpd/extension.py, "compile" is setting [PHP_FPM_LISTEN] = [127.0.0.1:9000]
2016-07-05T16:42:29.56+0200 [STG/0]      ERR 2016-07-05 14:42:29,567 [DEBU

[2016-07-06 00:51] SocalNick commented on #1001
@gossion - fyi, we've moved this to the CAPI backlog: https://www.pivotaltracker.com/projects/966314

[2016-07-06 12:57] srinat999 commented on #990
Thanks guys. I managed to get the entire installation up and running.

This particular problem was because of insufficient memory for my app. Bumped it to 1G from 512M and it worked. Also fixed my log issue. The problem there was my public endpoint (api.sys-cfisbtest.it-platforms.net) wasn't getting resolved in the logaggregator VM. Fixed that it worked like a charm!

[2016-07-06 12:57] #990 closed

[2016-07-06 13:00] srinat999 commented on #1002
Hey, I also faced this issue. For me the problem was with DNS setup. My public API endpoint (api..), doppler and hm9000 wasn't getting resolved correctly. After fixing that, it worked. Hope that helps

[2016-07-06 17:51] Amit-PivotalLabs commented on #1003
Your manifest mentions buildpack `php_buildpack_4_3_14`.  Where did you get that buildpack from?

[2016-07-06 17:52] Amit-PivotalLabs commented on #1002
Hi @omazhary

What made you think to restart the consul_agent?  Were there any logs that showed something failing that led you to decide to do that?

[2016-07-06 18:55] JesseTAlford commented on #990
Glad to hear you got it working, @srinat999. Please feel free to open issues on any problems you encounter in the future!

[2016-07-07 07:10] ZiedZinelabidine commented on #1003
is the same like php_buildpack , juste i renamed

2016-07-06 19:51 GMT+02:00 Amit Gupta <notifications@github.com>:

[2016-07-07 09:14] omazhary commented on #1002
There wasn't anything weird in the logs at all. I just wanted to restart the hm9000 nodes, and I wound up getting failing processes on each one. So, I decided to just restart the consul_agent, to force the services to re-register with it again.

Looking back on @srinat999's comment, it might have had something to do with DNS. According to the [consul description](https://github.com/cloudfoundry-in

[2016-07-07 14:47] dcarissi opened #1006 "CF Objectstore"
Hi,
I'm looking for the steps to create my own key/cert files to use with CF's Objectstore.  I've googled but didn't find any.  Also, I've been told that there are additional settings in the manifest yml file in the CC section for webdav_config: section that are also needed.  So, can someone explain the steps needed to create my own ca/cert/key files for the objectstore and the setup steps to add

[2016-07-07 17:10] Amit-PivotalLabs commented on #1006
I searched "generate root ca self signed certificate" and followed this page: https://datacenteroverlords.com/2012/03/01/creating-your-own-ssl-certificate-authority/.  They key steps for me were:

[code]

In your manifest, you typically have [3 global blobstore TLS properties](https://github.com/cloudfoundry/cf-release/blob/12f0c2e0718503bffed08d1bbd822d644433675a/spec/fixtures/vsphere/cf-manifest

[2016-07-07 17:10] #1006 closed

[2016-07-07 18:21] SocalNick commented on #1006
@dcarissi we plan on adding a script to cf-release to help generate the certs for the blobstore: https://www.pivotaltracker.com/story/show/124966951

[2016-07-08 20:40] Amit-PivotalLabs commented on #991
@gkenaley were you able to make any progress on this?

[2016-07-08 20:41] Amit-PivotalLabs commented on #1002
@omazhary did @srinat999's fix also work for you?

[2016-07-08 20:42] Amit-PivotalLabs commented on #1003
Not sure what you mean.  Which php_buildpack?

[2016-07-08 22:23] gkenaley commented on #991
Hi Amit,

No, I was not able to make any progress. I tried to cross-check with another version of OpenStack, but it was so difficult to install that I could not finish the deployment.

(1) Are we 100% convinced that inability to access the ha_proxy floating IP from the VM is the issue?

(2) Is there some other way to configure the system so that the VM access of the ha_proxy floating IP is not nec

[2016-07-10 10:31] omazhary commented on #1002
I didn't have time to test it. But I think it could be related, since restarting the consul agents re-registers the components' DNS names.

[2016-07-11 06:55] billsg opened #1007 "Failed creating missing vms due to the limit for specified instance type"
The error happened during "Create and Deploy CF Release" from https://github.com/cloudfoundry/cf-release/tree/master/example_manifests

The minimal-aws.yml is trying to create more than five c3.large instances in AWS. However the default max number of the same type instances is 5 in AWS.

<img width="567" alt="screen shot 2016-07-11 at 2 50 49 pm" src="https://cloud.githubusercontent.com/assets/20

[2016-07-11 07:35] omazhary commented on #1002
Did an ```nslookup``` on the api node, resolves back to the router. Makes sense. Still, however, cannot reproduce the problem to tell if @srinat999's fix will solve it.

[2016-07-11 12:35] cpraveen412 commented on #985
Hello Amit and frantisek,
I got the same issue in vsphere. But I do not have the lines mentioned by Amit. could anyone help me?

Thanks

[2016-07-11 15:29] cpraveen412 opened #1008 "Error 400007: 'consul_z1/0 (b0ba6708-5f03-4c8e-9157-df64e4a34113)' is not running after update. Review logs for failed jobs: consul_agent"
Hello,
I got the following error in Cloud foundry deployment.

Started updating job consul_z1
  Started updating job consul_z1 > consul_z1/0 (b0ba6708-5f03-4c8e-9157-df64e4a34113) (canary). Failed: 'consul_z1/0 (b0ba6708-5f03-4c8e-9157-df64e4a34113)' is not running after update. Review logs for failed jobs: consul_agent (00:10:47)

Error 400007: 'consul_z1/0 (b0ba6708-5f03-4c8e-9157-df64e4a34113)'

[2016-07-11 17:24] cpraveen412 commented on #1008
Is it possible to deploy without certificates or with self-signed certificates?

[2016-07-11 17:28] cpraveen412 commented on #1008
Could anyone please reply on this?

[2016-07-12 04:12] Amit-PivotalLabs commented on #1002
Consul DNS is used for internal service discovery.  Typically nothing that Consul DNS resolves should resolve back to the router.  I will close this issue for now, but do let us know if you're able to reproduce it.

[2016-07-12 04:12] #1002 closed

[2016-07-12 04:21] Amit-PivotalLabs commented on #991
(1) Yes, I'm fairly convinced that this is the issue.

(2) There are several components that need to talk to other components in Cloud Foundry.  One way this is done in some cases is to have a target component register a route with the gorouter, and the source component know about this route and make requests to that route.  The DNS resolution of those routes will typically resolve to the HA Proxy

[2016-07-12 06:06] gkenaley commented on #991
I control two DNS (bind9) servers - one on the Ubuntu PC jump node (128.224.29.34) that implements the public network (128.224.250.0/24) via VLAN), so I can set them up as you describe. It may take a week or two to get it done, as I have to rebuild the system, and vacations are in the way.

**Zone Files on DNS server 128.224.29.34:** # Point to ha_proxy_z1 private network address:
db.app.cf.cf-dom

[2016-07-12 06:47] frantisek121 commented on #985
Hi cpraveen412,

it is hard to say what is wrong, this error may be caused by several issues. You need to create new issue and provide details from logs and your configuration. I am sure someone will help you.

[2016-07-12 13:23] cpraveen412 commented on #985
sure. thanks.

[2016-07-12 13:58] cpraveen412 commented on #1008
I figured out how to get proper signed certificates and consul_z1 job was updated successfully.
But i have another question. How to create SSL certificates for HA_Proxy?

[2016-07-12 14:30] cpraveen412 commented on #1008
I Figured that out too.....

[2016-07-12 14:30] #1008 closed

[2016-07-12 15:01] cpraveen412 opened #1009 "Error 400007: 'api_z1/0 (dc71289c-fdc0-4db3-81ad-e8d8f2f194cd)' is not running after update. Review logs for failed jobs: cloud_controller_ng, cloud_controller_worker_local_1, cloud_controller_worker_local_2, nginx_cc"
Hello All,
I got this error. Could anyone help me?

 **Started updating job api_z1** > api_z1/0 (dc71289c-fdc0-4db3-81ad-e8d8f2f194cd) (canary). Failed: 'api_z1/0 (dc71289c-fdc0-4db3-81ad-e8d8f2f194cd)' is not running after update. Review logs for failed jobs: cloud_controller_ng, cloud_controller_worker_local_1, cloud_controller_worker_local_2, nginx_cc (00:10:25)

**Error 400007:** 'api_z1/0 (dc

[2016-07-12 20:07] cpraveen412 commented on #1009
we figured it out

[2016-07-12 20:07] #1009 closed

[2016-07-12 20:58] APShirley commented on #983
Hi @rphukan,

Since there has been no activity on this issue in 2 weeks we are going to close this issue. If you need further help feel free to open a new issue.

Thanks,

Alvaro

[2016-07-12 20:58] #983 closed

[2016-07-12 21:12] Amit-PivotalLabs commented on #1007
That's interesting.  According to [this doc](http://aws.amazon.com/ec2/faqs/#How_many_instances_can_I_run_in_Amazon_EC2) the limit is 20, but might be lower for new accounts.  Is your account very new?  Can you confirm you are working with default limits and not some post hoc limits that have been applied to your account?

[2016-07-13 03:42] billsg commented on #1007
I have requested to AWS to upgrade the limit to 20. The limitation issue should have been solved for now. Btw, is it possible to deploy all instances in one bosh lite VM in EC2? We cannot afford 1000+ dollars monthly for 20 instances in EC2.

[2016-07-13 07:32] Amit-PivotalLabs commented on #1007
Yes.  [Docs](http://docs.cloudfoundry.org/deploying/boshlite/create_a_manifest.html#create-stub).  [CI](https://runtime.ci.cf-app.com/pipelines/cf-release/jobs/bosh-lite-provision-cf-deploy/builds/83).

[2016-07-13 17:03] cpraveen412 opened #1010 "Unable to Login"
Could anyone help!!

when I did curl, it suggested me to skip certificates. so i did this (skipped certificates)

[admin@localhost cf-release]$ curl -k https://api.cloud.xxxxxxxx.com/info
{"name":"","build":"","support":"http://support.cloudfoundry.com","version":0,"description":"","authorization_endpoint":"http://login.cloud.xxxxxxx.com","token_endpoint":"https://uaa.cloud.xxxxxxx.com","allow_deb

[2016-07-14 03:14] gkenaley commented on #991
**Success!**
I can now run the example apps fib and cf-rails for the first time.

First I changed the zone files to point to ha_proxy_z1's private address, as described in the previous post, but the system just hung.

Finally I commented out the 9 lines in the deployment manifest which setup the public network and the floating IP address for ha_proxy_z1. So now the ha_proxy has only a private addr

[2016-07-14 03:14] #991 closed

[2016-07-14 20:46] cppforlife opened #1011 "[moved from bosh] Can't modify frozen String from when bosh create release"
Original issue: https://github.com/cloudfoundry/bosh/issues/1342

[code]

[2016-07-15 06:51] shijiaxin opened #1012 "consul_agent in api_z1 missing for OpenStack in docs"
[code]
it seems the following two lines are missing, and api_z1 will fail to find blobstore since the endpoint is  https://blobstore.service.cf.internal
[code]

[2016-07-15 16:03] phanikumar1210 commented on #855
I am having the same issue with BOSH-Lite but I was unable to run **cd /var/vcap/warden/depot** as there is no warder folder in vcap and I am using warden stemcell only. Could you please let me know someother solution for this. I am having bosh, bosh_ssh, data, jobs, micro_bosh, monit, packages, store,sys folders in vcap folder.

[2016-07-15 16:43] Amit-PivotalLabs commented on #855
@phanikumar1210 sorry, think it's supposed to be `/var/vcap/store/warden/depot`.

[2016-07-15 16:47] phanikumar1210 commented on #855
There is no warden folder in store directory as well it has **consul_agent** folder

[2016-07-16 12:47] Pratibha-28 opened #1013 "api_worker_z1/0' is not running after update"
I have been upgrading CF from v235 to v238 on AWS and something seems to have gone wrong with the cloud controller worker. The error is:

[code]

The logs suggest this:

[code]

And the process `cloud_controller_worker_1` is failing (Does not exist) on the `api_worker` VMs. In turn it has affected the `api_z1`, `api_z2` as well causing `cloud_controller_ng`, `cloud_controller_worker_local_1`, `clo

[2016-07-18 17:33] crhino commented on #994
@haydonryan The HAProxy job has a configuration property `ha_proxy.log_to_file` that should send haproxy logs to `/var/vcap/sys/log/haproxy/haproxy.log`. Does that solve your problem?

[2016-07-18 17:57] haydonryan commented on #994
yes it does :) We’ll enable that now.

On Mon, Jul 18, 2016 at 1:33 PM Chris Piraino

<
mailto:Chris Piraino <notifications@github.com>

https://github.com/haydonryan
The HAProxy job has a configuration property

ha_proxy.log_to_file

that should send haproxy logs to

/var/vcap/sys/log/haproxy/haproxy.log

. Does that solve your problem?

—

You are receiving this because you were mentioned.

Repl

[2016-07-19 07:27] gaurang90 opened #1014 "bosh create release givin Error"
Below is my cmd output of bosh create release command.

--------------------------------------------------------------

Please help me to solve this.

Thanks

[2016-07-20 08:53] Amit-PivotalLabs commented on #1003
Closing due to inactivity.

[2016-07-20 08:53] #1003 closed

[2016-07-20 08:54] Amit-PivotalLabs commented on #1007
Assuming those links work for you @billsg.  Closing.  Let me know if you have more questions.

[2016-07-20 08:54] #1007 closed

[2016-07-21 04:52] dave-read opened #1015 "boshhmforwarder doesn't appear to be in cf version 239?"
[Release notes](http://bosh.io/releases/github.com/cloudfoundry/cf-release?version=239#loggregator) for cf build 239 note inclusion of the boshhmforwarder.

I do see the boshhmforwarder job in version 58 of  [loggregator](http://bosh.io/releases/github.com/cloudfoundry/loggregator) but not in cf build 239.

Should boshhmforwarder  be in cf build 239?

Thanks

[2016-07-21 16:45] Amit-PivotalLabs commented on #1015
ping @Jim-Campbell @wfernandes

[2016-07-21 16:46] Amit-PivotalLabs commented on #1014
ping @fraenkel @swetharepakula @ScarletTanager

[2016-07-21 16:47] Amit-PivotalLabs commented on #1013
ping @SocalNick @utako

[2016-07-21 16:53] wfernandes commented on #1015
@Amit-PivotalLabs

It's in the [Loggregator src](https://github.com/cloudfoundry/loggregator/tree/90a1f5f813d2a65bc05e9d494400efe720179734/src/boshhmforwarder)

And it's part of the [loggregator jobs](https://github.com/cloudfoundry/loggregator/tree/90a1f5f813d2a65bc05e9d494400efe720179734/jobs/boshhmforwarder) and [packages](https://github.com/cloudfoundry/loggregator/tree/90a1f5f813d2a65bc05e9d4

[2016-07-21 19:27] dave-read commented on #1015
Yes it's in the loggregator jobs and packages.  However the announcement/details of the feature is in cf-release: http://bosh.io/releases/github.com/cloudfoundry/cf-release?version=239#loggregator

I could be wrong, but I assumed that the cf-release would be updated to include a version of loggregator that included the feature.

[2016-07-21 20:59] DanLavine commented on #1014
Hi @gaurang90,

It looks like you might have something messed up with your ruby environment on your machine. Our CI pipelines do a fresh deploy of cf every time and are building successfully.

Looking at your output I see "Fetching https://github.com/nats-io/ruby-nats.git Using i18n 0.7.0" and then you get an error for the same exact gem.

I would try running `gem install rake -v 11.1.2` and see i

[2016-07-21 21:15] wfernandes commented on #1015
@dave-read I'm not sure I understand.

CF Release 239 [e53f998d](https://github.com/cloudfoundry/cf-release/tree/e53f998d767b5a09a43c87435fb655a6411f76db/src) does include a loggregator [90a1f5f](https://github.com/cloudfoundry/loggregator/tree/90a1f5f813d2a65bc05e9d494400efe720179734/jobs) that includes boshhmforwarder.

Now, CF Release doesn't provide a [job](https://github.com/cloudfoundry/cf-r

[2016-07-21 21:26] Amit-PivotalLabs commented on #1015
I think the question is, if cf-release doesn't expose the job directly, why is it in the cf-release release notes?

[2016-07-21 21:33] Jim-Campbell commented on #1015
OK, then if we've added the component to Loggregator, and it is straight forward to install via the readme, we should just announce on cf-dev and pull mention from release notes?

[2016-07-21 21:33] Jim-Campbell commented on #1015
Then we'll put a PR on cf-release for 240

[2016-07-21 21:37] Amit-PivotalLabs commented on #1015
Unless you plan to have it deployed and tested in the integration pipelines for CF release, it prob doesn't make sense to expose it in cf-release.  I would start with announcing it on cf-dev for folks to know they can use it.

[2016-07-21 21:43] Jim-Campbell commented on #1015
OK, remove from release notes?

[2016-07-21 21:53] Amit-PivotalLabs commented on #1015
Yeah, I think that makes the most sense.

[2016-07-21 22:00] dave-read commented on #1015
@wfernandes yes, pulling the latest loggregator release as you described works.

@Amit-PivotalLabs thanks, you described the question more clearly than I did.

The suggestion to announce it for those that are interested make sense to me.

[2016-07-22 05:23] gaurang90 commented on #1014
its working now after i reinstall ruby and able to successfully deploy cloud foundry. but i cant ping or curl at "api.bosh-lite.com". can anyone help me with this??

[2016-07-22 14:34] sharms opened #1016 "Overlapping domains check too strict"
We have a domain we use for top level services: sample.com such as docs.sample.com, login.sample.com etc

Our shared apps domain is:
 - apps.sample.com

Our system domain is:
 - sys.sample.com

Our private top level domain is:
 - sample.com

The current 219 release has a more strict 'overlap' check which has a few bugs, and is impacting our current deployment.

This test passes: `[2016-07-21 23:31

[2016-07-22 16:46] DanLavine commented on #1014
Hi @gaurang90,

This issue is probably coming from the fact that `bosh-lite.com` resolves to a local IP address on your machine which is a 10.* address. To fix this issue try running the `bin/add-route` script in the bosh-lite repository you downloaded from github.

Seeing as how your original issue was fixed I'm going to close this issue. If the bosh-lite fix does not work, you could open up a ne

[2016-07-22 16:46] #1014 closed

[2016-07-22 17:26] sharms commented on #1016
Closing this issue as we agree that we need to migrate to a new naming schema

[2016-07-22 17:26] #1016 closed

[2016-07-22 23:43] Amit-PivotalLabs commented on #1011
ping @fraenkel @swetharepakula @DanLavine @ScarletTanager

[2016-07-22 23:52] dsabeti commented on #1010
Hey @cpraveen412. We're happy to help. For starters, can you post the output of the following command: `CF_TRACE=true cf login --skip-ssl-validation` -- ***please remember to remove any sensitive data, such as passwords***. This will help us to diagnose which component is having problems, and we'll ask you for logs from that component.

[2016-07-25 13:28] cpraveen412 commented on #1010
Thank You for your response @dsabeti.
As it took too long to get response, i started deploying again. but at this time, i'm getting the below error

Started updating job uaa_z1 > uaa_z1/0 (c25ac8a3-db19-41e1-b2de-4a732f1e61be) (canary). Failed: Action Failed get_task: Task 0805ab4f-8e19-4a07-63f6-05f0ebbc933e result: 1 of 1 post-start scripts failed. Failed Jobs: uaa. (00:13:49)

Error 450001: Act

[2016-07-25 15:32] ScarletTanager commented on #1011
@YuPengZTE - this is where your original https://github.com/cloudfoundry/bosh/issues/1342 got moved.  Can you please tell me what release of CF you were using when you encountered the error?

@ScarletTanager, CF Runtime OG team

[2016-07-26 00:27] dsabeti commented on #1010
@cpraveen412

Ok, so this confirms our theory that UAA is having a problem. Could you show us your UAA logs, **again, making sure to remove sensitive data**? You can download them by running `bosh logs uaa_z1 0`.

[2016-07-26 07:51] kishore309 commented on #905
Hi Amit,

I am also facing the same issue "consul z1 is not running after update" in cf version 236. I am using stemcell version 3215.4 bosh (openstack kvm ubuntu trusty go_agent) for openstack.
I have generated and updated agent_cert, agent_key, ca_cert, server_cert, server_key for consul in cf-stub.yml as per instruction given in http://docs.cloudfoundry.org/deploying/common/consul-security.html

[2016-07-26 18:02] cpraveen412 commented on #1010
hi @dsabeti,
Here are the logs.
[uaa_logs.tar.gz](https://github.com/cloudfoundry/cf-release/files/384456/uaa_logs.tar.gz)

[2016-07-27 00:11] Amit-PivotalLabs commented on #905
@kishore309 please open up a separate issue.  Thanks.

[2016-07-27 16:37] APShirley commented on #1010
Hi @cpraveen412,

We have taken a look at your logs and manifest and noticed a few things that look suspect and may be causing the issue.
1. Variable whitespace in your jwt keys section. We can't tell if this is because of how you deleted your keys, or indicates the actual indentation used in your unaltered manifest:
[code]
2. Using a chomp indicator `+` on the jwt keys section. This isn't necessa

[2016-07-27 16:49] fhanik commented on #1010
As Al and @JesseTAlford indicate, base64 encoding is invalid

InvalidBase64CharacterException: Bad Base64 input character decimal 45 in array position 5

[2016-07-27 18:01] staylor14 commented on #1010
@cpraveen412 I've reviewed your logs, and it's pretty clear that the problem is in the post-start script.  We added a step in the deployment that waits for UAA to actually complete startup before signaling a successful deployment to Bosh.  The way it works is that it attempts to hit our health check endpoint running on port 8989.

What's strange is that the UAA log looks like it came up just fine.

[2016-07-27 18:15] cpraveen412 commented on #1010
i deleted the certs while i was uploading here.
Please take a look at my full manifest with certs.
i edited manifest(converted cf2 network to cf1 network) after it was generated.

[cf-deployment.yml.tar.gz](https://github.com/cloudfoundry/cf-release/files/386819/cf-deployment.yml.tar.gz)

[2016-07-27 18:51] cpraveen412 commented on #1010
Hi @dsabeti,
i got a reply to mail which i didn't see here.
My initial post was regarding login. At that time, my environment was CF-238 with bosh stemcell 3242.4. To reach that point, i made lot of changes to cf-deployment.yml(editing certs) based on some previous posts in here. I even posted those issues (#1008 & #1009) for help.
So I wanted to completely reinstall CF with all the changes I made

[2016-07-27 19:36] wfernandes commented on #1015
Closing this issue. The release notes have been updated.

[2016-07-27 19:36] #1015 closed

[2016-07-28 18:39] cclark1974 opened #1019 "Cannot curl to bosh-lite endpoint"
[code]

Any assistance would be greatly appreciated

[2016-07-28 22:42] Amit-PivotalLabs commented on #1019
VirtualBox or AWS?

If VirtualBox, you need to follow the instructions here: https://github.com/cloudfoundry/bosh-lite#using-the-virtualbox-provider.  In particular, step 6.

If AWS, you need to follow the instructions here: http://docs.cloudfoundry.org/deploying/boshlite/create_a_manifest.html#create-stub.  In particular, your system domain will not be `bosh-lite.com`.

Please let me know if you

[2016-07-29 06:35] MoizArif opened #1020 "bosh deploy fails while updating job blobstore_z1 > blobstore_z1/0"
Hi all,
I am deploying CF using BOSH and i am getting this error:

`Error 400007: 'blobstore_z1/0 (0eb27491-096c-4506-98b8-e06763d7f996)' is not running after update. Review logs for failed jobs: blobstore_nginx
`
Here is the log from bosh task:

[code]

Output of bosh vms command:

[code]

output of bosh instances --ps

[code]

From monit logs inside blobstore_z1/0 VM:

[code]

and starting it ma

[2016-07-29 18:26] cpraveen412 commented on #1010
Hi @dsabeti, @APShirley , @JesseTAlford
I passed through that error by updating my JWT certs which are generated by using below commands.
I request you to update the docs with these commands so that everyone will know how to generate them.

ha_proxy:  Run "openssl genrsa -out cf.key 1024"
           Run "openssl req -new -key cf.key -out cf.csr"
             For the Common Name, you must enter "*.

[2016-07-29 18:30] cpraveen412 commented on #1010
Hi @dsabeti, @APShirley , @JesseTAlford
But i'm back to my original Issue now.

[admin@localhost cf]$ ./cf login

API endpoint> api.cloud.xxxxxx.com
FAILED
Invalid SSL Cert for api.cloud.xxxxxx.com
TIP: Use 'cf login --skip-ssl-validation' to continue with an insecure API endpoint
[admin@localhost cf]$ cf login --skip-ssl-validation
bash: cf: command not found...
Similar command is: 'fc'
[admin@lo

[2016-07-29 19:58] Amit-PivotalLabs commented on #1020
ping @utako @SocalNick

[2016-07-29 22:05] swetharepakula commented on #1011
@YuPengZTE, it appears that you have an issue with your ruby environment.  We are not seeing this with any of our builds right now, and we recommend that you move to a clean build of ruby 2.3.1 and see if this clears up your issues.  We are going to close the issue, but you can certainly open a new issue or reopen this one if this behavior occurs again.

Thanks,

@ScarletTanager & @swetharepakula,

[2016-07-29 22:05] #1011 closed

[2016-07-30 05:13] MoizArif commented on #1020
Hi @utako and @SocalNick , any pointers on my issue?

[2016-07-30 05:23] SocalNick commented on #1020
@MoizArif what version of CF? In 239, we made it such that you have to run the blobstore on an unprivileged port, 4443 by default. Please see the release notes: https://github.com/cloudfoundry/cf-release/releases/tag/v239

[2016-07-30 05:38] MoizArif commented on #1020
Using release 239
[code]

So i should change the tls port from 443 to 4443, right?

an excerpt from my existing cf-deployment.yml file:
[code]

[2016-07-30 07:07] MoizArif commented on #1020
Okay i have understood it from the release specs. I changed the tls port to 4443 (above 1024) and i am now able to get pass the error mentioned in this issue.

Wow, thanks a bunch @SocalNick.

[2016-07-30 07:12] MoizArif commented on #1020
Are there any changes to api section as well? Now my api_z1/0 got stuck.

[code]

bosh instances --ps
[code]

[2016-07-30 07:41] MoizArif commented on #1009
Hi @cpraveen412 , how dd you solve this particular? i am also facing exactly the same issue.

[2016-07-30 15:44] cpraveen412 commented on #1009
Hi @MoizArif
I was stuck here because of certs. I cannot tell you that you also have the same issue. But if you want to give a shot, please go through my other thread #1010 to know how to get certs.

[2016-07-30 18:38] SocalNick commented on #1020
Check the log files by `bosh ssh api_z1/0`. The log file you should look at are `/var/vcap/sys/log/cloud_controller_ng/pre-start.stderr.log` and `/var/vcap/sys/log/cloud_controller_ng/pre-start.stdout.log`.

[2016-07-30 19:31] MoizArif commented on #1009
@cpraveen412 : i have the same issue as yours, as mentioned in the title of this thread. I generated the certs which are consistent with the way you used them. Were you able to get past the api-z1/0 error mentioned here ?

[2016-07-30 20:43] MoizArif commented on #1020
@SocalNick , The error is:

[code]

Output of pre-start.stdout.log:

[code]

Output of pre-start.stderr.log:

[code]

[2016-07-30 21:08] SocalNick commented on #1020
@MoizArif it appears to be a configuration error with your system domain, do you have it set to `domain`? How are you generating your deployment manifest? Your system and app domains should be something like:

[code]

or you can use the same apps and system domain

[code]

If you are still having issues, our working hours are M-F 9a-6p PT. We have a dedicated interrupt pair available to help in [o

[2016-07-30 21:16] MoizArif commented on #1020
@SocalNick , yes i am actually using domain.

[code]

i am using the this to generate the deployment manifest:

`./scripts/generate_deployment_manifest openstack /root/my-bosh/cf-stub.yml > cf-deployment.yml`

Let me change the  domain names like you suggested and try again.
Do "some-domain.com" needs to be routable ?

[2016-07-30 22:11] SocalNick commented on #1020
Yes, you need to be able to set a wildcard record for the domain you use. Please follow the [instructions for Preparing to Deploy on OpenStack](http://docs.cloudfoundry.org/deploying/openstack/index.html).

[2016-07-30 22:50] MoizArif commented on #1020
Using the proper domain name worked for me at this point. Now running into another issue:

[code]

All processes on the runner_z1/0 vm are running:
[code]

The warden error logs report, /var/vcap/sys/log/warden_ctl.err.log:
[code]

/var/vcap/sys/log/dea_ctl.err.log reports:
[code]

[2016-07-31 00:13] MoizArif commented on #1020
@SocalNick :
Another quick question, the domain should point to CF router IP ?

[2016-07-31 12:04] jleavers commented on #1020
You would normally point this at the loadbalancer, in your case this looks to be the ha_proxy_z1 VM - although you could also use an external loadbalancer instead - which then forwards traffic onto the routers.

[2016-07-31 22:24] MoizArif commented on #1020
@jleavers , thanks for the reply. in case my system_domain name is cf.test.com ,  i do:

`cf api --skip-ssl-validation http://cf.test.com`

with cf.test.com pointing to the Floating IP assigned to ha_proxy_z1 VM and it throws out:

[code]

What do you think might be the issue here?

[2016-08-01 00:15] jleavers commented on #1020
Normally the API URL will be api.SYSTEM_DOMAIN, e.g. api.cf.test.com in your example. You will probably see this listed in your deployment manifest.

[2016-08-01 08:18] Infra-Red commented on #1012
And also java-buildpack packages are missing on the Openstack stub, without the packages acceptance tests will fail:
[code]

[2016-08-01 08:29] Infra-Red commented on #1010
@cpraveen412 Could you please check the value of property `uaa.require_https`, by default this value set to `true`and it can be a problem in case of self-signed certs, here the reference for bosh-lite stub example:
https://github.com/cloudfoundry/cf-release/blob/develop/templates/cf-infrastructure-bosh-lite.yml#L471

[2016-08-01 09:08] MoizArif commented on #1020
@jleavers : i have used the following command:

`cf api --skip-ssl-validation api.cf.test.com`

and still getting the same error message:

[code]

DNS query results in:

[code]
and the DNS entry is: `*.cf.test.com.        IN      A       192.168.14.90`
where 192.168.14.90 is the Floating IP of the ha_proxy_z1/0 VM.

[2016-08-01 09:10] MoizArif opened #1021 "bosh deploy fails while updating job runner_z1 > runner_z1/0"
Hi all,

i am getting this error which deploying cf.

[code]

All processes on the runner_z1/0 vm are running:
[code]

The warden error logs report, /var/vcap/sys/log/warden_ctl.err.log:
[code]

/var/vcap/sys/log/dea_ctl.err.log reports:
[code]

/var/vcap/sys/log/dea_ctl.log reports:
[code]

What seems to the issue with dea & warden?

Here is the output of bosh vms
[code]

Here is my cf-deployment

[2016-08-01 13:28] cpraveen412 commented on #1010
that worked.
thanks @Infra-Red

[2016-08-01 13:28] #1010 closed

[2016-08-01 17:28] SocalNick commented on #1020
@MoizArif you are likely going to have to start looking at logs for all the components involved. That would be HAProxy, Gorouter, and CloudController. I'm going to close this issue because your original issue has been resolved. I encourage you to investigate your deployment thoroughly and try to determine the proper team to contact for more help. As I mentioned, you might be able to get help in re

[2016-08-01 17:28] #1020 closed

[2016-08-01 17:49] MoizArif commented on #1020
@SocalNick , i dont have access to CF slack channel. can you send me an invite?

[2016-08-01 22:14] thausler786 commented on #1013
Hey @Pratibha-28,

What version of bosh are you using?  If you are using an older version of bosh, migrations will not run in v238 because bosh will not have the `spec.bootstrap` option available.

If you have an older bosh version and go into your `pre-start.err.log` files you should find logging saying `Skipping migrations...` for all of your `api` and `cloud_controller_worker` vms.

If you are

[2016-08-02 04:18] MoizArif commented on #1020
@SocalNick , yes i am doing exactly that. Thanks for all the help :)

[2016-08-02 17:33] GuruprakashS opened #1022 "Support for SSL certs for multiple domains in HA_proxy"
Hi Team,

How do we go about supporting ssl certs for multiple domains in HA_proxy job coming along with CF release. Looks like we could not configure the required properties for multiple ssl config in the manifest file. Could someone help here?

Thanks,
Guru.

[2016-08-03 00:11] Amit-PivotalLabs commented on #1022
Hi @GuruprakashS

There's a few different things to consider here, so it depends on your use case.  You might want to check out this previous discussion: https://lists.cloudfoundry.org/archives/list/cf-dev@lists.cloudfoundry.org/thread/WS3F4JPY4KHH26WMC4KLA3SKG556LU43/

If you could share more details about your use case, that might help, e.g. why do you have multiple domains, do you intend to hav

[2016-08-03 10:30] aniljain100 opened #1024 "My .NET app pushed in CF but doesnt start"
Hi,

My .NET Core Web API app is pushed in cf but fails to start.

I thought it was memory issues so I increased memory in manifest.yml file to 1 GB but still it fails.

Below is the log:

[code]

[2016-08-03 17:01] GuruprakashS commented on #1022
Hello @Amit-PivotalLabs , Thank you for your response.

We are deploying a CF on vSphere to support our CI, QE and DEV environments and hence we decided we have seperate orgs and then create a private domain corresponding to each of these Environments.
For SSL (which will terminate at HA_proxy) we need to have separate certs configured on Ha_proxy Job and hence this github issue.

The discussion y

[2016-08-03 23:06] routing-ci commented on #1022
Hello Guru,

Yes, it is also possible to terminate TLS at the CF router. Currently it also supports only one cert but SAN certs may be an option.

Please see our docs on the topic here:
http://docs.cloudfoundry.org/adminguide/securing-traffic.html

As the environments you mentioned are not production, what do you think about having your clients connect to a single CF router, eliminating the HAProx

[2016-08-04 00:30] GuruprakashS commented on #1022
Thanks Shannon for the information. It's useful.
Yes our clients does support SNI.

Thanks,
Guru.

[2016-08-04 00:30] #1022 closed

[2016-08-04 08:00] aniljain100 commented on #1024
How do we deploy .NET 4.5 on Cloud Foundry?

[2016-08-04 17:49] apeschel opened #1025 "Invalid Ruby Version Set"
.ruby-version has an invalid ruby version set. This results in an error when at least `rbenv` is used as a Ruby version manager.

[code]

[2016-08-04 18:01] apeschel commented on #1025
Relevant `rbenv` documentation on this behavior: https://github.com/rbenv/rbenv/wiki

[2016-08-05 03:40] Amit-PivotalLabs commented on #1019
I'll close this issue out due to inactivity, but please let us know if you're still having issues.

[2016-08-05 03:40] #1019 closed

[2016-08-05 04:13] Amit-PivotalLabs commented on #1024
I'll ping the @cloudfoundry/cf-bosh-windows team as they may be able to help.

[2016-08-05 05:00] aniljain100 commented on #1024
Thanks!! I also need help on pushing .NET Framework version 4.6 i,e CF mono push command.

If you can guide me or help me on the approach or direct me to the concerned team would be of great help.

[2016-08-05 12:17] aminjam commented on #1024
@aniljain100 I am assuming you are using the latest (or most stable) version of [dotnet core buildpack](https://github.com/cloudfoundry-community/dotnet-core-buildpack), are you able to run any of the [fixture apps](https://github.com/cloudfoundry-community/dotnet-core-buildpack/tree/master/cf_spec/fixtures/asp_mvc_app)? Looking at the logs, it looks like the error you are receiving is coming from

[2016-08-06 06:52] suchakra012 commented on #916
Hello,

I am facing with the issue of while doing cf deployment using bosh-lite director-
 Failed to recurse into submodule path 'src/consul-release'

I have checked out of cf release (v235) & run /bin/provision.cf script .

The snippet of error log is here -

Cloning into 'C:/Users/ECTYSAN/Documents/workspace/cf-release/src/loggregator/src/github.com/stretchr/testify'...
Cloning into 'C:/Users/EC

[2016-08-08 02:36] valenbb opened #1028 "api_worker_z1/0' is not running after update - Blobstore is not available"
Getting the following for a fresh cf deployment on Openstack:

  Started updating job api_z1 > api_z1/0 (6bb0914f-8e3e-46fa-bad0-70085d6f02d2) (canary). Failed: 'api_z1/0 (6bb0914f-8e3e-46fa-bad0-70085d6f02d2)' is not running after update. Review logs for failed jobs: cloud_controller_ng, cloud_controller_worker_local_1, cloud_controller_worker_local_2, nginx_cc, cloud_controller_worker_1 (00:11:0

[2016-08-08 03:35] valenbb commented on #1028
Per Amit's suggestion in #985:
"If you have a section in your stub that looks like this: https://github.com/cloudfoundry/cf-release/blob/3290ed8d88cc453a013b77941d3960abe27b2317/spec/fixtures/openstack/cf-stub.yml#L155-L187, you can try removing it and see if that helps."

I did this and the issue is resolved.
Uncommented cloud_controller_ng and cloud_controller_worker from the templates section o

[2016-08-08 07:11] aniljain100 commented on #1024
I am sorry I switched from .NET Core to .NET 4.5.2 due to requirement demand. Could you guide me to the right forum or link? I need to use .NET mono build in CF.

Much appreciated.

Thanks

[2016-08-08 08:07] bingosummer opened #1029 "Is it expected that deleting a cell with an app running costs 10 minutes?"
When deleting the VM `cell_z1`, drain task costs about 10 mins, which is much longer than expected.

Debug Logs:
[code]

In my test, there is an app running in the cell. If there is not an app running, the drain task finishes very quickly.
So, my question is: **Is it expected that deleting a cell with an app running costs 10 minutes?**
Thanks in advance.

[code]

[code]

stemcell version: 3232.11

[2016-08-08 08:54] Infra-Red commented on #1028
@valenbb The issue that yours manifest does not include `consul_agent` for api_z1 job. Just add to stub in api_z1 templates:
[code]
@Amit-PivotalLabs This is a mistake in a Cloud Foundry deployment docs and this is must be fixed, stub for Openstack does not include `consul_agent` in `api_z1` job.
http://docs.cloudfoundry.org/deploying/openstack/cf-stub.html